/* Scroll to Top.
--------------------------------------------- */
a#scroll-up {
	bottom: 20px;
	position: fixed;
	right: 20px;
	display: none;
	opacity: 0.5;
	z-index: 999;
	filter: alpha(opacity=50);
	/* For IE8 and earlier */

	i {
		font-size: 40px;
		color: $color__primary;
	}

	&:hover {
		opacity: 1;
		filter: alpha(opacity=100);
		/* For IE8 and earlier */
	}
}
