/* Post Format: Link.
--------------------------------------------- */
.format-link {

	.cm-entry-summary {

		p {
			text-align: center;
			padding-top: length( 'l-15' );
		}

		a {
			display: inline-block;
			padding: 15px 40px;
			background-color: $color__primary;
			color: $color__white;
			border-radius: 3px;
			text-decoration: underline;
			text-transform: uppercase;
			transition: background-color 0.3s linear 0s;

			&:hover {
				background-color: #33363b;
			}
		}
	}
}

/* Post Format: Aside.
--------------------------------------------- */
.format-aside {

	.cm-entry-header {
		display: none;
	}
}
