$font-family-body:					'Roboto', sans-serif;
$font-family-heading:				'Raleway', sans-serif;

$font-size-base:					14px;
$font-size-large:         			ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         			ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            			54px;
$font-size-h2:            			36px;
$font-size-h3:            			24px;
$font-size-h4:            			18px;
$font-size-h5:            			16px;
$font-size-h6:            			14px;


$line-height-base:        			24px;