$size__site-main: 100%;
$size__site-sidebar: 25%;

$size_container-width: 1170px;
$size_container-width--centered: 768px;

/* Margin/Padding */
$spacing_2:  em_value(2, 1.4);
$spacing_4:  em_value(4, 1.4);
$spacing_6:  em_value(6, 1.4);
$spacing_8:  em_value(8, 1.4);
$spacing_9:  em_value(9, 1.4);
$spacing_10: em_value(10, 1.4);
$spacing_12: em_value(12, 1.4);
$spacing_14: em_value(14, 1.4);
$spacing_15: em_value(15, 1.4);
$spacing_16: em_value(16, 1.4);
$spacing_18: em_value(18, 1.4);
$spacing_20: em_value(20, 1.4);
$spacing_24: em_value(24, 1.4);
$spacing_25: em_value(25, 1.4);
$spacing_28: em_value(28, 1.4);
$spacing_30: em_value(30, 1.4);
$spacing_32: em_value(32, 1.4);
$spacing_36: em_value(36, 1.4);
$spacing_40: em_value(40, 1.4);
$spacing_45: em_value(45, 1.4);
$spacing_50: em_value(50, 1.4);
$spacing_60: em_value(60, 1.4);
$spacing_54: em_value(54, 1.4);
$spacing_70: em_value(70, 1.4);
$spacing_80: em_value(80, 1.4);
$spacing_90: em_value(90, 1.4);
$spacing_200: em_value(200, 1.4);

$spacing_8_1-4: em_value(8, 1.4);
$spacing_16_1-4: em_value(16, 1.4);
$spacing_64_2: em_value(64, 2);

$spacing_2px:  2px;
$spacing_4px:  4px;
$spacing_8px:  8px;
$spacing_9px:  9px;
$spacing_10px: 10px;
$spacing_11px: 11px;
$spacing_12px: 12px;
$spacing_15px: 15px;
$spacing_16px: 16px;
$spacing_22px: 22px;
$spacing_20px: 20px;
$spacing_30px: 30px;
$spacing_40px: 40px;

$border_radius_1: 2px;
$border_radius_2: 4px;

$transition: all 0.3s;