/* Margin/Padding */
$spacing_4:  em_value(4, 1.6);
$spacing_5:  em_value(5, 1.6);
$spacing_8:  em_value(8, 1.6);
$spacing_10: em_value(10, 1.6);
$spacing_12: em_value(12, 1.6);
$spacing_14: em_value(14, 1.6);
$spacing_15: em_value(15, 1.6);
$spacing_16: em_value(16, 1.6);
$spacing_24: em_value(24, 1.6);

$spacing_8px:  8px;
$spacing_10px: 10px;
$spacing_12px: 12px;
$spacing_15px: 15px;
$spacing_16px: 16px;
