.breaking-news {
	position: relative;
	display: flex;
	margin-top: length( 'l-5' );
	padding-left: length( 'l-4' );
	padding-right: length( 'l-4' );
	background-color: $color__gray-50;
	font-size: 14px;
	line-height: 20px;
	word-wrap: break-word;

	.breaking-news-main & {
		display: inline-flex;
	}

	div {
		display: inline-block;
		word-wrap: break-word;
	}

	li {
		line-height: 20px;
	}
}

.breaking-news-latest {
	position: relative;
	color: $color__gray-four;
}

.newsticker {
	max-width: 240px;
	overflow: hidden;
	margin-left: length( 'l-2' );
    height: 20px;
}

/* Below Navigation */
.breaking-news-main {
	margin-bottom: 1%;
	padding-bottom: length( 'l-15' );
}

@include breakpoint("mdm") {

	.breaking-news {
		margin-top: 0;
	}
}
