{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"targets": {
					"esmodules": true
				}
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": ["@babel/plugin-transform-runtime"]
}
