# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea

# Grunt
/node_modules/

# Sass
.sass-cache/

# Dist folder
/dist/

#Bower
/bower_components/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Zip
colormag-pro.zip

/vendor/
