body {
	--color--gray: #888888;
	--color--light--primary: #9bc8da;
	--color--primary: var(--cm-color-1, #207daf);
}

/*--------------------------------------------------------------
Dark CSS
--------------------------------------------------------------*/
body.dark-skin {
	background-color: #151515;
	color: #cccccc;
}

/* Top Bar.
--------------------------------------------- */
.dark-skin {
	/*--------------------------------------------------------------
	Header Clean layout CSS
	--------------------------------------------------------------*/
	/* Support Dark Skin.
	--------------------------------------------- */
}

.dark-skin .breaking-news {
	background-color: #232323;
}

.dark-skin .breaking-news-latest {
	color: #fff;
}

.dark-skin .date-in-header {
	color: #cccccc;
}

.dark-skin h1,
.dark-skin h2,
.dark-skin h3,
.dark-skin h4,
.dark-skin h5,
.dark-skin h6 {
	color: #fff;
}

.dark-skin #page,
.dark-skin .cm-main-header,
.dark-skin .cm-content,
.dark-skin .cm-secondary .widget {
	background-color: #0d0d0d;
}

.dark-skin .cm-top-bar {
	background-color: #111111;
}

.dark-skin .cm-mobile-nav li {
	background-color: #232323;
}

.dark-skin .cm-mobile-nav a {
	color: #fff;
}

.dark-skin .cm-no-results .cm-page-title {
	color: #f4f4f5;
}

.dark-skin .cm-no-results .cm-page-content p {
	color: #f4f4f5;
}

.dark-skin .search-form-top {
	background-color: #121212;
	border: 0 none;
}

.dark-skin .wp-block-search__input,
.dark-skin .search-form-top input.s,
.dark-skin input.s {
	background-color: #161616;
	border: 1px solid #343434;
	color: #E3E2E2;
}

.dark-skin .cm-featured-posts .cm-post {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
	border-radius: 4px;
}

.dark-skin .cm-featured-posts.cm-tab-widget {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
	border-radius: 4px;
}

.dark-skin .cm-featured-posts.cm-tab-widget .cm-post {
	box-shadow: none;
}

.dark-skin .cm-featured-posts .cm-post-content .cm-entry-title a {
	color: #F4F4F5;
}

.dark-skin .cm-featured-posts .cm-post-content .cm-below-entry-meta .cm-post-date svg,
.dark-skin .cm-featured-posts .cm-post-content .cm-below-entry-meta .cm-author svg,
.dark-skin .cm-featured-posts .cm-post-content .cm-below-entry-meta .cm-comments-link svg {
	fill: #a6a6a6;
}

.dark-skin .cm-featured-posts .cm-random-posts,
.dark-skin .cm-featured-posts .cm-breaking-news {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
	border-radius: 4px;
}

.dark-skin .cm-featured-posts .cm-random-posts .cm-post,
.dark-skin .cm-featured-posts .cm-breaking-news .cm-post {
	box-shadow: 0 0 0 0 transparent;
}

.dark-skin .cm-post-date a,
.dark-skin .cm-author a,
.dark-skin .cm-comments-link a {
	color: #aeaeae;
}

.dark-skin .cm-featured-category-slider-widget .cm-post-date a,
.dark-skin .cm-featured-category-slider-widget .cm-author a,
.dark-skin .cm-featured-category-slider-widget .cm-comments-link a,
.dark-skin .cm-highlighted-posts .cm-post-date a,
.dark-skin .cm-highlighted-posts .cm-author a,
.dark-skin .cm-highlighted-posts .cm-comments-link a {
	color: #f4f4f5;
}

.dark-skin .comment-respond form label {
	color: #E3E2E2;
}

.dark-skin .comments-area .fn a {
	color: #fff;
}

.dark-skin .human-diff-time {
	color: #a6a6a6;
}

.dark-skin .search-form-top.show::before {
	border-bottom: 12px solid #121212;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.dark-skin .cm-comments-link span {
	color: #a6a6a6;
}

.dark-skin .cm-thumbnail-slider {
	border-color: #0d0d0d;
}

.dark-skin #comments {
	border-color: #444444;
}

.dark-skin .cm-posts .post {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
	border-radius: 4px;
}

.dark-skin .cm-posts .post .cm-post-content .cm-entry-title a {
	color: #F4F4F5;
}

.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-author svg,
.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-comments-link svg,
.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-tag-links svg,
.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-edit-link svg,
.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-post-date svg,
.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-post-views svg {
	color: #a6a6a6;
}

.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-post-views span {
	color: #a6a6a6;
}

.dark-skin .cm-posts .post .cm-post-content .cm-below-entry-meta .cm-edit-link a {
	color: #a6a6a6;
}

.dark-skin .single-related-posts .cm-post-content .cm-entry-title a {
	color: #F4F4F5;
}

.dark-skin .single-related-posts .cm-post-content .cm-below-entry-meta .cm-post-date .fa,
.dark-skin .single-related-posts .cm-post-content .cm-below-entry-meta .cm-comments-link .fa {
	color: #a6a6a6;
}

.dark-skin .post .cm-entry-title a,
.dark-skin .search .cm-entry-title a {
	color: #F4F4F5;
}

.dark-skin .cm-random-posts {
	box-shadow: 0 0 0 0 transparent;
}

.dark-skin .previous svg,
.dark-skin .next svg {
	fill: #f4f4f5;
}

.dark-skin .cm-layout-2 .cm-mobile-nav .cm-submenu-toggle svg,
.dark-skin .cm-layout-2 .cm-mobile-nav .cm-home-icon svg,
.dark-skin .cm-layout-2 .cm-mobile-nav .cm-menu-toggle svg {
	fill: #f4f4f5;
}

.dark-skin .cm-layout-2 .cm-mobile-nav .cm-random-post a svg {
	fill: #f4f4f5;
}

.dark-skin .single-related-posts {
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
	border-radius: 4px;
}

.dark-skin .cm-footer-cols,
.dark-skin .cm-footer-bar {
	border-top: 0 none;
	background-color: #121212;
}

.dark-skin #cm-footer .cm-upper-footer-cols .widget {
	border: 0 none;
}

.dark-skin #cm-footer .cm-upper-footer-cols .widget .cm-post,
.dark-skin #cm-footer .cm-upper-footer-cols .widget .cm-random-posts {
	box-shadow: none;
}

.dark-skin input[type="text"],
.dark-skin input[type="email"],
.dark-skin input[type="password"],
.dark-skin textarea,
.dark-skin .comment-content {
	background-color: #0d0d0d;
	color: #cccccc;
	border-color: #777777;
}

.dark-skin .cm-view-all-link {
	background: #0d0d0d;
}

.dark-skin .cm-layout-2 .cm-primary-nav ul > li > a {
	color: #f4f4f5;
}

.dark-skin .cm-layout-2 .cm-primary-nav .cm-home-icon svg,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-home-icon .cm-icon,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-submenu-toggle svg,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-submenu-toggle .cm-icon,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-menu-toggle svg,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-menu-toggle .cm-icon,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-random-post svg,
.dark-skin .cm-layout-2 .cm-primary-nav .cm-random-post .cm-icon {
	fill: #f4f4f5;
}

.dark-skin .cm-layout-2 .cm-primary-nav ul ul.sub-menu li a {
	color: #3f3f46;
}

.dark-skin .cm-layout-2 .is-sticky #cm-primary-nav {
	background-color: #111111;
}

.dark-skin .cm-layout-2 .cm-mobile-nav .cm-submenu-toggle svg {
	fill: #f4f4f5;
}

.dark-skin .cm-layout-2 #cm-primary-nav .fa {
	color: #f4f4f5;
}

.dark-skin .cm-layout-2 .cm-mobile-nav li {
	border-color: var(--cm-color-2, #3F3F46);
}

.dark-skin .cm-layout-2 .cm-mobile-nav li a {
	color: #f4f4f5;
}

.dark-skin.colormag-header-clean .cm-primary-nav .sub-menu,
.dark-skin.colormag-header-clean .cm-primary-nav .children {
	background-color: #212529;
}

.dark-skin.colormag-header-clean .cm-mobile-nav li {
	background-color: #212529;
}

.dark-skin.colormag-header-clean .breaking-news .newsticker a,
.dark-skin.colormag-header-clean .social-links i.fa, .dark-skin.colormag-header-classic .breaking-news .newsticker a,
.dark-skin.colormag-header-classic .social-links i.fa, .dark-skin.colormag-header-clean--full-width .breaking-news .newsticker a,
.dark-skin.colormag-header-clean--full-width .social-links i.fa {
	color: #cccccc;
}

.dark-skin.colormag-header-classic .is-sticky #cm-primary-nav {
	background-color: #212529;
}

.dark-skin.colormag-header-classic .is-sticky .cm-mobile-nav li {
	background-color: #212529;
}

.dark-skin.colormag-header-classic #cm-primary-nav .cm-menu-toggle {
	border-color: #cccccc;
}

.dark-skin.colormag-header-classic #cm-primary-nav .cm-menu-toggle::before {
	color: #cccccc;
}

.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav ul ul.sub-menu,
.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav ul .children {
	background-color: #212529;
	border-color: #444444;
}

.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav ul ul.sub-menu li,
.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav ul .children li {
	border-color: #444444;
}

.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav a,
.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav .cm-random-post a .fa-random,
.dark-skin.colormag-header-classic #cm-primary-nav.cm-primary-nav .cm-home-icon .fa {
	color: #fff;
}

.dark-skin.colormag-header-classic #cm-primary-nav.cm-mobile-nav .cm-random-post a .fa-random,
.dark-skin.colormag-header-classic #cm-primary-nav .fa.search-top {
	color: #fff;
}

.dark-skin.colormag-header-clean--full-width .cm-top-bar {
	background-color: #111111;
}

.dark-skin .colormag-footer--classic .cm-footer-cols {
	background-color: #161616;
}

.dark-skin .colormag-footer--classic .cm-footer-bar {
	background-color: #121212;
}

.dark-skin .elementor .tg-module-wrapper {
	color: #cccccc;
}

.dark-skin .elementor .tg-module-wrapper .tg-module-title {
	color: #fff;
}

.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name a,
.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name span,
.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-post-date a,
.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-post-date span,
.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-module-comments a,
.dark-skin .elementor .tg-module-wrapper .tg-module-meta .tg-module-comments span {
	color: #a6a6a6;
}

.dark-skin .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-5 .tg_module_block .tg-module-title,
.dark-skin .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-5 .tg_module_block .block-content {
	background: #0d0d0d;
}

.dark-skin .cm-entry-summary p {
	color: #E3E2E2;
}

.dark-skin .previous a,
.dark-skin .next a {
	color: #F4F4F5;
}

.dark-skin .previous a:hover,
.dark-skin .next a:hover {
	color: #F4F4F5;
}

.dark-skin .cm-entry-title a {
	color: #F4F4F5;
}

.dark-skin .cm-entry-title a:hover {
	color: #F4F4F5;
}

.dark-skin .cm-breaking-news i.fa-arrow-up::before,
.dark-skin .cm-breaking-news i.fa-arrow-down::before {
	background-color: #161616;
	border: 1px solid #161616;
}

.dark-skin body {
	color: #cccccc;
}

.dark-skin h1,
.dark-skin h2,
.dark-skin h3,
.dark-skin h4,
.dark-skin h5,
.dark-skin h6 {
	color: #fff;
}

.dark-skin .mzb-post-list .mzb-post,
.dark-skin .mzb-tab-post .mzb-post,
.dark-skin .mzb-featured-posts .mzb-post,
.dark-skin .mzb-featured-categories .mzb-post {
	background-color: #19190d;
}

.dark-skin .mzb-tab-post .mzb-tab-title {
	background-color: #19190d;
}

.dark-skin .mzb-tab-post .mzb-tab-title.active {
	background-color: var(--color--primary);
}

/* Support Magazine Blocks.
--------------------------------------------- */
.mzb-post-list .mzb-post-date a,
.mzb-post-list .mzb-post-author a,
.mzb-tab-post .mzb-post-date a,
.mzb-tab-post .mzb-post-author a,
.mzb-banner-posts .mzb-post-date a,
.mzb-banner-posts .mzb-post-author a,
.mzb-featured-posts .mzb-post-date a,
.mzb-featured-posts .mzb-post-author a,
.mzb-featured-categories .mzb-post-date a,
.mzb-featured-categories .mzb-post-author a,
.mzb-grid-module .mzb-post-date a,
.mzb-grid-module .mzb-post-author a {
	color: var(--color--gray);
}

.mzb-post-list .mzb-post-date svg,
.mzb-post-list .mzb-post-author svg,
.mzb-tab-post .mzb-post-date svg,
.mzb-tab-post .mzb-post-author svg,
.mzb-banner-posts .mzb-post-date svg,
.mzb-banner-posts .mzb-post-author svg,
.mzb-featured-posts .mzb-post-date svg,
.mzb-featured-posts .mzb-post-author svg,
.mzb-featured-categories .mzb-post-date svg,
.mzb-featured-categories .mzb-post-author svg,
.mzb-grid-module .mzb-post-date svg,
.mzb-grid-module .mzb-post-author svg {
	fill: var(--color--gray);
}
