/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #444444;
	font-size: 16px;
	font-family: 'Open Sans', serif;
	line-height: 1.6;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: 'Open Sans', serif;
	color: #444444;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	padding: 5px 0 0;
	font-size: 32px;
	line-height: 1.2;
	color: #333333;
	font-weight: normal;
}

.wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1200px;
}

/* Theme specific CSS */
/* Headings */
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper h1.wp-block,
.editor-styles-wrapper h2.wp-block,
.editor-styles-wrapper h3.wp-block,
.editor-styles-wrapper h4.wp-block,
.editor-styles-wrapper h5.wp-block,
.editor-styles-wrapper h6.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper .wp-block h1 {
	font-size: 42px;
}

.editor-styles-wrapper .wp-block h2 {
	font-size: 38px;
}

.editor-styles-wrapper .wp-block h3 {
	font-size: 34px;
}

.editor-styles-wrapper .wp-block h4 {
	font-size: 30px;
}

.editor-styles-wrapper .wp-block h5 {
	font-size: 26px;
}

.editor-styles-wrapper .wp-block h6 {
	font-size: 22px;
}

/* Horizontal Lines */
.editor-styles-wrapper hr {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

.editor-styles-wrapper hr.is-style-dots {
	height: auto;
}

/* Text Elements */
.editor-styles-wrapper p {
	margin-bottom: 15px;
	font-size: 15px;
}

.editor-styles-wrapper strong {
	font-weight: bold;
}

.editor-styles-wrapper cite,
.editor-styles-wrapper em,
.editor-styles-wrapper i {
	font-style: italic;
}

.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper var,
.editor-styles-wrapper samp,
.editor-styles-wrapper tt {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper abbr,
.editor-styles-wrapper acronym,
.editor-styles-wrapper dfn {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

.editor-styles-wrapper address {
	display: block;
	font-style: italic;
	margin: 0 0 15px;
}

.editor-styles-wrapper ins {
	background: #f8f8f8;
}

.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
}

.editor-styles-wrapper sup,
.editor-styles-wrapper sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

.editor-styles-wrapper sup {
	bottom: 1ex;
}

.editor-styles-wrapper sub {
	top: .5ex;
}

.editor-styles-wrapper dl {
	margin-bottom: 24px;
}

.editor-styles-wrapper dt {
	font-weight: bold;
	margin-bottom: 5px;
}

.editor-styles-wrapper dd {
	margin-bottom: 24px;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	list-style: none;
}

.editor-styles-wrapper ol {
	list-style: decimal;
}

.editor-styles-wrapper ul {
	list-style: square;
}

.editor-styles-wrapper li > ul,
.editor-styles-wrapper li > ol {
	margin: 0 0 0 10px;
}

.editor-styles-wrapper li {
	font-size: 15px;
	line-height: 1.3;
}

.editor-styles-wrapper pre {
	background-color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	border: 1px solid #eaeaea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper blockquote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	padding: 30px 30px 20px 45px;
	margin-bottom: 20px;
	background-color: #289dcc;
	color: #ffffff;
	border-radius: 5px;
	border-left: 0;
}

.editor-styles-wrapper blockquote p,
.editor-styles-wrapper blockquote.is-style-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	line-height: 1.4;
	position: relative;
	padding-top: 0;
	padding-left: 15px;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper blockquote p::before,
.editor-styles-wrapper blockquote.is-style-large p::before,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 32px;
	position: absolute;
	top: -27px;
	left: -27px;
}

.editor-styles-wrapper blockquote a,
.editor-styles-wrapper blockquote.is-style-large a,
.wp-block-freeform.block-library-rich-text__tinymce blockquote a {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote em,
.editor-styles-wrapper blockquote i,
.editor-styles-wrapper blockquote cite,
.editor-styles-wrapper blockquote.is-style-large em,
.editor-styles-wrapper blockquote.is-style-large i,
.editor-styles-wrapper blockquote.is-style-large cite,
.wp-block-freeform.block-library-rich-text__tinymce blockquote em,
.wp-block-freeform.block-library-rich-text__tinymce blockquote i,
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote cite,
.editor-styles-wrapper blockquote.is-style-large cite,
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

.editor-styles-wrapper .wp-block blockquote.has-text-align-right {
	border-right: 0;
	border-left: 0;
	padding: 30px 30px 20px 45px;
}

/* Forms */
.editor-styles-wrapper input[type="search"] {
	appearance: none !important;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper textarea {
	appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper input[type="url"]:focus,
.editor-styles-wrapper textarea:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper .wp-block button:not(.components-button) {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #289dcc;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 18px;
	appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper .wp-block button:not(.components-button) {
	background-color: #33363b;
}

.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper .wp-block button:not(.components-button) {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor-styles-wrapper .wp-block .mce-widget button {
	font-size: 13px;
	line-height: 1.53846153;
	padding: 2px 3px;
	box-shadow: none;
	background-color: transparent;
	color: #595959;
	margin-bottom: 0;
	appearance: inherit !important;
	cursor: inherit;
}

.block-editor-default-block-appender .block-editor-inserter__toggle.components-button {
	padding: inherit;
}

/* Links */
.editor-styles-wrapper a,
.wp-block-file .wp-block-file__textlink {
	color: #289dcc;
	text-decoration: none;
}

.editor-styles-wrapper a:hover,
.editor-styles-wrapper a:focus,
.editor-styles-wrapper a:active {
	text-decoration: underline;
}

/* Tables */
.editor-styles-wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}

.editor-styles-wrapper th,
.editor-styles-wrapper .wp-block th {
	font-weight: bold;
}

.editor-styles-wrapper th,
.editor-styles-wrapper td,
.editor-styles-wrapper .wp-block th,
.editor-styles-wrapper .wp-block td {
	border: 1px solid #eaeaea;
	padding: 6px 10px;
}

.editor-styles-wrapper caption,
.editor-styles-wrapper th,
.editor-styles-wrapper td,
.editor-styles-wrapper .wp-block caption,
.editor-styles-wrapper .wp-block th,
.editor-styles-wrapper .wp-block td {
	text-align: left;
}

.editor-styles-wrapper th.has-text-align-center,
.editor-styles-wrapper td.has-text-align-center {
	text-align: center;
}

.editor-styles-wrapper th.has-text-align-right,
.editor-styles-wrapper td.has-text-align-right {
	text-align: right;
}

/* Alignments */
.editor-styles-wrapper .alignleft,
.editor-styles-wrapper .wp-block .mce-content-body .alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}

.editor-styles-wrapper .alignright,
.editor-styles-wrapper .wp-block .mce-content-body .alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}

.editor-styles-wrapper .aligncenter,
.editor-styles-wrapper .wp-block .mce-content-body .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Make sure embeds and iframes fit their containers */
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
	max-width: 100%;
}

/* Media */
.editor-styles-wrapper .wp-caption {
	border: 1px solid #cccccc;
	margin-bottom: 1.5rem;
	max-width: 100%;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"],
.editor-styles-wrapper .wp-caption img[class*="wp-image-"] dt {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.editor-styles-wrapper .wp-caption-text,
.editor-styles-wrapper .wp-caption .wp-caption-dd {
	text-align: center;
}

.editor-styles-wrapper .wp-caption .wp-caption-text,
.editor-styles-wrapper .wp-caption .wp-caption-dd {
	margin: 0.8075rem 0;
}

/* WordPress Gallery */
.editor-styles-wrapper .gallery {
	margin: 0 auto 15px;
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	padding: 15px 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.editor-styles-wrapper .wp-block .gallery-columns-3 .gallery-item,
.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item,
.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
	padding: 15px 1%;
}

.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item,
.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item,
.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item,
.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
	padding: 10px 0.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-2 .gallery-item {
	width: 50%;
}

.editor-styles-wrapper .wp-block .gallery-columns-3 .gallery-item {
	width: 33.33%;
}

.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
	width: 25%;
}

.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
	width: 20%;
}

.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.editor-styles-wrapper .gallery-icon img {
	margin: 0 auto;
}

.editor-styles-wrapper .gallery .gallery-caption {
	font-size: 12px;
	line-height: 1.2;
	padding-top: 5px;
}

.editor-styles-wrapper .wp-block-gallery ol,
.editor-styles-wrapper .wp-block-gallery ul {
	margin: 0;
}

/* Responsive Structure */
@media only screen and (max-width: 600px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 25%;
	}
}

@media only screen and (max-width: 420px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 33.33%;
	}
}
