/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #444444;
	font-size: 16px;
	font-family: 'Open Sans', serif;
	line-height: 1.6;
	word-wrap: break-word;
	/* Theme specific CSS */
	/* Headings */
	/* Horizontal Lines */
	/* Tables */
}

.editor-styles-wrapper > * {
	font-family: 'Open Sans', serif;
	color: #444444;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	padding: 5px 0 0;
	font-size: 32px;
	line-height: 1.2;
	color: #333333;
	font-weight: normal;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1200px;
}

.editor-styles-wrapper .wp-block h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 42px;
}

.editor-styles-wrapper .wp-block h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 38px;
}

.editor-styles-wrapper .wp-block h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 34px;
}

.editor-styles-wrapper .wp-block h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
}

.editor-styles-wrapper .wp-block h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 26px;
}

.editor-styles-wrapper .wp-block h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 22px;
}

.editor-styles-wrapper .wp-block blockquote.has-text-align-right {
	border-right: 0;
	border-left: 0;
	padding: 30px 30px 20px 45px;
}

.editor-styles-wrapper .wp-block button:not(.components-button) {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #207DAF;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 18px;
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
	background-color: #33363b;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor-styles-wrapper .wp-block .mce-widget button {
	font-size: 13px;
	line-height: 1.53846153;
	padding: 2px 3px;
	box-shadow: none;
	background-color: transparent;
	color: #595959;
	margin-bottom: 0;
	-webkit-appearance: inherit !important;
	   -moz-appearance: inherit !important;
	        appearance: inherit !important;
	cursor: inherit;
}

.editor-styles-wrapper .wp-block th {
	font-weight: bold;
	border: 1px solid #eaeaea;
	padding: 6px 10px;
	text-align: left;
}

.editor-styles-wrapper .wp-block td {
	border: 1px solid #eaeaea;
	padding: 6px 10px;
	text-align: left;
}

.editor-styles-wrapper .wp-block caption {
	text-align: left;
}

.editor-styles-wrapper .wp-block .mce-content-body .alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}

.editor-styles-wrapper .wp-block .mce-content-body .alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}

.editor-styles-wrapper .wp-block .mce-content-body .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper .wp-block .gallery-columns-3 .gallery-item {
	padding: 15px 1%;
	width: 33.33%;
}

.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
	padding: 15px 1%;
	width: 25%;
}

.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
	padding: 15px 1%;
	width: 20%;
}

.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
	padding: 10px 0.5%;
	width: 16.66%;
}

.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
	padding: 10px 0.5%;
	width: 14.28%;
}

.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
	padding: 10px 0.5%;
	width: 12.5%;
}

.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
	padding: 10px 0.5%;
	width: 11.11%;
}

.editor-styles-wrapper .wp-block .gallery-columns-2 .gallery-item {
	width: 50%;
}

.editor-styles-wrapper h1.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h2.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h3.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h4.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h5.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h6.wp-block {
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper h1 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper h2 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper h3 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper h4 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper h5 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper h6 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
}

.editor-styles-wrapper hr {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

.editor-styles-wrapper hr.is-style-dots {
	height: auto;
}

.editor-styles-wrapper p {
	margin-bottom: 15px;
	font-size: 15px;
}

.editor-styles-wrapper strong {
	font-weight: bold;
}

.editor-styles-wrapper cite {
	font-style: italic;
}

.editor-styles-wrapper em {
	font-style: italic;
}

.editor-styles-wrapper i {
	font-style: italic;
}

.editor-styles-wrapper code {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper kbd {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper var {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper samp {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper tt {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper abbr {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

.editor-styles-wrapper acronym {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

.editor-styles-wrapper dfn {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

.editor-styles-wrapper address {
	display: block;
	font-style: italic;
	margin: 0 0 15px;
}

.editor-styles-wrapper ins {
	background: #f8f8f8;
}

.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}

.editor-styles-wrapper sup {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	bottom: 1ex;
}

.editor-styles-wrapper sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	top: .5ex;
}

.editor-styles-wrapper dl {
	margin-bottom: 24px;
}

.editor-styles-wrapper dt {
	font-weight: bold;
	margin-bottom: 5px;
}

.editor-styles-wrapper dd {
	margin-bottom: 24px;
}

.editor-styles-wrapper ul {
	list-style: none;
	list-style: square;
}

.editor-styles-wrapper ol {
	list-style: none;
	list-style: decimal;
}

.editor-styles-wrapper li {
	font-size: 15px;
	line-height: 1.3;
}

.editor-styles-wrapper li > ul {
	margin: 0 0 0 10px;
}

.editor-styles-wrapper li > ol {
	margin: 0 0 0 10px;
}

.editor-styles-wrapper pre {
	background-color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	border: 1px solid #eaeaea;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper blockquote {
	padding: 30px 30px 20px 45px;
	margin-bottom: 20px;
	background-color: #207DAF;
	color: #ffffff;
	border-radius: 5px;
	border-left: 0;
}

.editor-styles-wrapper blockquote p {
	line-height: 1.4;
	position: relative;
	padding-top: 0;
	padding-left: 15px;
}

.editor-styles-wrapper blockquote p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 32px;
	position: absolute;
	top: -27px;
	left: -27px;
}

.editor-styles-wrapper blockquote a {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote em {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote i {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote cite {
	color: #ffffff;
	text-decoration: underline;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

.editor-styles-wrapper blockquote.is-style-large {
	padding: 30px 30px 20px 45px;
	margin-bottom: 20px;
	background-color: #207DAF;
	color: #ffffff;
	border-radius: 5px;
	border-left: 0;
}

.editor-styles-wrapper blockquote.is-style-large p {
	line-height: 1.4;
	position: relative;
	padding-top: 0;
	padding-left: 15px;
}

.editor-styles-wrapper blockquote.is-style-large p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 32px;
	position: absolute;
	top: -27px;
	left: -27px;
}

.editor-styles-wrapper blockquote.is-style-large a {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote.is-style-large em {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote.is-style-large i {
	color: #ffffff;
	text-decoration: underline;
}

.editor-styles-wrapper blockquote.is-style-large cite {
	color: #ffffff;
	text-decoration: underline;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

.editor-styles-wrapper input[type="search"] {
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="search"]:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="text"] {
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="text"]:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="email"] {
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="email"]:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="url"] {
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="url"]:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper textarea {
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.editor-styles-wrapper textarea:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="password"]:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="reset"] {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #207DAF;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 18px;
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

.editor-styles-wrapper input[type="reset"]:hover {
	background-color: #33363b;
}

.editor-styles-wrapper input[type="reset"]:active {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor-styles-wrapper input[type="button"] {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #207DAF;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 18px;
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

.editor-styles-wrapper input[type="button"]:hover {
	background-color: #33363b;
}

.editor-styles-wrapper input[type="button"]:active {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor-styles-wrapper input[type="submit"] {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #207DAF;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 18px;
	-webkit-appearance: none !important;
	   -moz-appearance: none !important;
	        appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

.editor-styles-wrapper input[type="submit"]:hover {
	background-color: #33363b;
}

.editor-styles-wrapper input[type="submit"]:active {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor-styles-wrapper a {
	color: #207DAF;
	text-decoration: none;
}

.editor-styles-wrapper a:hover {
	text-decoration: underline;
}

.editor-styles-wrapper a:focus {
	text-decoration: underline;
}

.editor-styles-wrapper a:active {
	text-decoration: underline;
}

.editor-styles-wrapper th {
	font-weight: bold;
	border: 1px solid #eaeaea;
	padding: 6px 10px;
	text-align: left;
}

.editor-styles-wrapper td {
	border: 1px solid #eaeaea;
	padding: 6px 10px;
	text-align: left;
}

.editor-styles-wrapper caption {
	text-align: left;
}

.editor-styles-wrapper th.has-text-align-center {
	text-align: center;
}

.editor-styles-wrapper td.has-text-align-center {
	text-align: center;
}

.editor-styles-wrapper th.has-text-align-right {
	text-align: right;
}

.editor-styles-wrapper td.has-text-align-right {
	text-align: right;
}

.editor-styles-wrapper .alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}

.editor-styles-wrapper .alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}

.editor-styles-wrapper .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper embed {
	max-width: 100%;
}

.editor-styles-wrapper iframe {
	max-width: 100%;
}

.editor-styles-wrapper object {
	max-width: 100%;
}

.editor-styles-wrapper .wp-caption {
	border: 1px solid #cccccc;
	margin-bottom: 1.5rem;
	max-width: 100%;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"] dt {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.editor-styles-wrapper .wp-caption .wp-caption-dd {
	text-align: center;
	margin: 0.8075rem 0;
}

.editor-styles-wrapper .wp-caption .wp-caption-text {
	margin: 0.8075rem 0;
}

.editor-styles-wrapper .wp-caption-text {
	text-align: center;
}

.editor-styles-wrapper .gallery {
	margin: 0 auto 15px;
}

.editor-styles-wrapper .gallery .gallery-caption {
	font-size: 12px;
	line-height: 1.2;
	padding-top: 5px;
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	padding: 15px 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
}

.editor-styles-wrapper .gallery-icon img {
	margin: 0 auto;
}

.editor-styles-wrapper .wp-block-gallery ol {
	margin: 0;
}

.editor-styles-wrapper .wp-block-gallery ul {
	margin: 0;
}

.wp-block {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	padding: 30px 30px 20px 45px;
	margin-bottom: 20px;
	background-color: #207DAF;
	color: #ffffff;
	border-radius: 5px;
	border-left: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	line-height: 1.4;
	position: relative;
	padding-top: 0;
	padding-left: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 32px;
	position: absolute;
	top: -27px;
	left: -27px;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote a {
	color: #ffffff;
	text-decoration: underline;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote em {
	color: #ffffff;
	text-decoration: underline;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote i {
	color: #ffffff;
	text-decoration: underline;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	color: #ffffff;
	text-decoration: underline;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large p {
	margin-top: 0;
	margin-bottom: 0;
}

.block-editor-default-block-appender .block-editor-inserter__toggle.components-button {
	padding: inherit;
}

/* Links */
.wp-block-file .wp-block-file__textlink {
	color: #207DAF;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
		width: 25%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
		width: 25%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
		width: 25%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
		width: 25%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
		width: 25%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 25%;
	}
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.aligncenter,
.wp-block-image.alignleft,
.wp-block-image.alignright {
	display: table;
}

.wp-embed-responsive .editor-styles-wrapper {
	padding-left: 16px;
	padding-right: 16px;
}

@media only screen and (max-width: 420px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item {
		width: 33.33%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item {
		width: 33.33%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item {
		width: 33.33%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item {
		width: 33.33%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item {
		width: 33.33%;
	}
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 33.33%;
	}
}

/* Support Magazine Blocks */
[class*='mzb'] h1,
[class*='mzb'] h2,
[class*='mzb'] h3,
[class*='mzb'] h4,
[class*='mzb'] h5,
[class*='mzb'] h6 {
	padding-bottom: 0;
}

[class*='mzb'] a:hover {
	text-decoration: none;
}

[class*='mzb'] .mzb-post-list .mzb-post-title,
[class*='mzb'] .mzb-tab-post .mzb-post-title,
[class*='mzb'] .mzb-featured-categories .mzb-post-title,
[class*='mzb'] .mzb-banner-posts .mzb-post-title {
	margin-bottom: 10px;
}

.editor-styles-wrapper .components-placeholder.mzb-section-preset .mzb-section-preset-btn {
	padding: 0 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	display: inline-flex;
	cursor: pointer;
	outline: none;
	border: none;
}
