/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #444444;
	font-size: 16px;
	font-family: 'Open Sans', serif;
	line-height: 1.6;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: 'Open Sans', serif;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	padding: 5px 0 0;
	font-size: 32px;
	line-height: 1.2;
	color: #333333;
	font-weight: normal;
}

.wp-block {
	max-width: 1140px;
}

/* Theme specific CSS */
/* Headings */
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper h1.wp-block,
.editor-styles-wrapper h2.wp-block,
.editor-styles-wrapper h3.wp-block,
.editor-styles-wrapper h4.wp-block,
.editor-styles-wrapper h5.wp-block,
.editor-styles-wrapper h6.wp-block {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper h1.wp-block {
	font-size: 42px;
}

.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper h2.wp-block {
	font-size: 38px;
}

.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper h3.wp-block {
	font-size: 34px;
}

.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper h4.wp-block {
	font-size: 30px;
}

.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper h5.wp-block {
	font-size: 26px;
}

.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper h6.wp-block {
	font-size: 22px;
}

/* Horizontal Lines */
.editor-styles-wrapper .wp-block hr {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

.editor-styles-wrapper .wp-block hr.is-style-dots {
	height: auto;
}
