/**
 * Background control CSS.
 */
.customize-control-colormag-background .customize-control-content > div {
	margin-bottom: 15px;
}

.customize-control-colormag-background .customize-control-content .wp-picker-container .wp-color-result .color-alpha {
	height: 28px !important;
}

.customize-control-colormag-background .customize-control-content .wp-picker-container .wp-picker-clear {
	margin-left: 6px;
	min-height: 30px;
	line-height: 2.54545455;
}
