/**
 * Body.
 */
body {
	background-color: var(--cm-color-3, #E4E4E7);
	padding-top: length('l-5');
	padding-bottom: length('l-5');
	background-size: cover;

	&.boxed {
		background-color: #E4E4E7;
	}

	#page {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
	}

	.cm-content {
		flex-grow: 1;
	}

	&.clickable-background-image {
		position: relative;

		.background-image-clickable {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: pointer;
		}

		.site {
			position: relative;
			z-index: 99;
		}
	}
}
