/**
 * Body.
 */
body {
	background-color: $color__gray-200;
	padding-top: length( 'l-5' );
	padding-bottom: length( 'l-5' );
	background-size: cover;

	&.clickable-background-image {
		position: relative;

		.background-image-clickable {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: pointer;
		}

		.site {
			position: relative;
			z-index: 99;
		}
	}
}
