/**
 * Columns.
 */

/* 2 Columns. */
.tg-one-half {
	float: left;
	width: 48.684210%;
	margin: 0 2.631579% 0 0;
	padding: 0 0 30px;
}

.tg-one-half-last {
	float: right;
	margin: 0;
}

/* 4 Columns. */
.tg-one-fourth {
	float: left;
	width: 23.1527094%;
	margin: 0 2.46305419% 0 0;
}

.tg-one-fourth-last {
	margin: 0;
}
