/**
 * Columns.
 */

.cm-column-half {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom:  length( 'l-15' );
}

/* 4 Columns. */
.tg-one-fourth {
	float: left;
	width: 23.1527094%;
	margin: 0 2.46305419% 0 0;
}

.tg-one-fourth-last {
	margin: 0;
}

@include breakpoint("mdm") {

	.cm-column-half {
		flex-direction: row;
	}
}
