/**
 * Fields.
 */
input,
textarea {
	-webkit-border-radius: 0;
}

input {
	&[type="text"],
	&[type="email"],
	&[type="search"],
	&[type="password"],
	&[type="url"] {
		appearance: none;
		outline: none;

		&:focus {
			border: 1px solid $color__gray-200;
		}
	}

	&[type="text"],
	&[type="email"],
	&[type="password"],
	&[type="url"],
	&[type="tel"] {
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid $color__gray-200;
		line-height: 20px;
		width: 100%;
		margin: 0 0 32px;
		background-color: #FCFCFC;
		border-radius: 4px;
	}

	&.s {
		position: relative;
		width: 100%;
		padding: length( 'l-6' );
        @include font-size("font-size-xs");
        border: 1px solid $color__gray-300;
        border-radius: 4px 0 0 4px;
		line-height: 1.6;

		&:focus {
			padding-left: 10px;
			border-color: $color__gray-200;
			text-indent: 0;
		}
	}
}

textarea {
	appearance: none !important;
	padding: 1%;
	border: 1px solid #E4E4E7;
	line-height: 20px;
	width: 100%;
	margin: 0 0 32px;
	background-color: #fcfcfc;
	border-radius: 4px;

	&:focus {
		border: 1px solid $color__gray-200;
	}
}

.colormag-button {
	display: inline-block;
	margin-bottom: 30px;
	padding: 5px 10px;
	background-color: $color__primary;
	border: 0;
	transition: background-color 0.3s linear 0s;
	border-radius: 3px;
	font-size: 16px;
	appearance: none !important;
	cursor: pointer;
	color: $color__white;

	&:hover {
		background-color: #33363b;
	}
}

#search-form {

	input[type="submit"] {
		border-radius: 0;
		margin-left: -8px;
		margin-bottom: 0;
		padding: 6px 10px 5px;
		font-size: 18px;
	}
}

select {
	border: 1px solid $color__gray-200;
	padding: length( 'l-4') length( 'l-8');
}
