.elementor {
	.tg-module-wrapper {
		
		&.tg-module-grid {
			
			// default styles
			.tg_module_grid {
				position: relative;

				.tg-thumb-link {
					display: block;
					position: relative;
					
					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient( to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.1) 100%);
					}
					
					&::after {
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
						bottom: 0;
						top: auto;
					}
				}

				.tg-module-info {
					position: absolute;
					bottom: 15px;
					left: 15px;
					right: 15px;

					.tg-cm-post-categories {
						margin-bottom: 7px;
					}

					.tg-module-title {
						font-size: 24px;
						font-weight: 500;
						color: $white;
					}

					.tg-module-meta {
						span,
						a {
							color: $white;
						}
					}
				}

				&.tg_module_grid--small {
					.tg-module-info {
						bottom: 10px;
						right: 10px;
						left: 10px;

						.tg-module-title {
							font-size: 16px;
						}
					}
				}

				&.tg_module_grid--small-medium {
					.tg-module-info {
						.tg-module-title {
							font-size: 18px;
						}
					}
				}

				&.tg_module_grid--medium {
					.tg-module-info {
						.tg-module-title {
							font-size: 21px;
						}
					}
				}

				&.tg_module_grid--half {
					flex-basis: $column-6;
					margin-bottom: 3px;
				}

				&.tg_module_grid--one-fourth {
					flex-basis: $column-3;
					margin-bottom: 3px;
				}

				&.tg_module_grid--one-third {
					flex-basis: $column-4;
					margin-bottom: 3px;
				}

				&.tg_module_grid--full {
					flex-basis: $column-12;
					margin-bottom: 3px;
				}
			}

			&.tg-module-grid--style-1,
			&.tg-module-grid--style-2,
			&.tg-module-grid--style-3,
			&.tg-module-grid--style-6 {
				.tg-col-control {
					flex-basis: $column-6;
				}
			}

			&.tg-module-grid--style-2 {
				.tg_module_grid--full {
					flex-basis: $column-12;
				}
			}

			&.tg-module-grid--style-3 {
				.tg-col-control {
					margin-bottom: 4px;
				}
			}

			&.tg-module-grid--style-4 {
				.tg-col-control {
					flex-basis: $column-4;
					margin-bottom: 4px;
				}
			}

			&.tg-module-grid--style-5 {
				.tg-col-control {
					flex-basis: $column-3;
					margin-bottom: 4px;
				}
			}

			&.tg-module-grid--style-7 {
				.swiper-container {

					&:hover {
						.swiper-button-next {
							right: 45px;
						}
	
						.swiper-button-prev {
							left: 45px;
						}
					}

					.swiper-button-next,
					.swiper-button-prev {
						height: 40px;
						width: 17px;
						margin-top: -20px;
						transition: left 0.35s ease-in-out, right 0.35s ease-in-out;
					}

					.swiper-button-next {
						background-image: url('../img/next.svg');
						right: -45px;
					}

					.swiper-button-prev {
						background-image: url('../img/prev.svg');
						left: -45px;
					}
				}
			}
		}
	}
}