.customize-section-description .colormag-section-description ul {
	margin: 0;
}

.customize-section-description .colormag-section-description ul > li {
	list-style: none;
}

.customize-section-description .colormag-section-description ul > li:last-child {
	margin-bottom: 0;
}

.customize-section-description .colormag-section-description a {
	font-style: italic;
}

.customize-control {
	position: relative;
	margin-bottom: 0;
	margin-top: 12px;
}

.customize-control .customize-control-title {
	max-width: calc(100% - 20px);
}

.customize-control .colormag-control-tooltip {
	position: absolute;
	top: 0;
	left: 0;
}

.customize-control .customize-inside-control-row {
	padding-top: 0;
	padding-bottom: 0;
}

.customize-control.customize-control-radio .customize-inside-control-row, .customize-control.customize-control-checkbox .customize-inside-control-row {
	padding-top: 6px;
	padding-bottom: 6px;
}

.customize-control.has-responsive-switchers .responsive-switchers {
	position: absolute;
	left: 0;
	top: 0;
}

.customize-control.has-responsive-switchers .responsive-switchers li {
	float: right;
	margin: 0;
	border: 2px solid transparent;
}

.customize-control.has-responsive-switchers .responsive-switchers li button {
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
	background: transparent;
}

.customize-control.has-responsive-switchers .responsive-switchers li button i {
	font-size: 14px;
	line-height: 20px;
}

.customize-control.has-responsive-switchers .responsive-switchers li button.active {
	border-bottom: 2px solid #555d66;
}

.customize-control.has-responsive-switchers .control-wrap:not(.active) {
	display: none;
	width: 100%;
}

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

#customize-theme-controls .customize-pane-child.current-section-parent {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

#customize-theme-controls .control-section.open {
	height: 100%;
}

#customize-theme-controls .control-section.control-section-colormag_section .accordion-section {
	margin-right: -12px;
	margin-left: -12px;
}

#customize-theme-controls .control-section.control-section-colormag_section .accordion-section-title {
	color: #555d66;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 4px solid #fff;
	-webkit-transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
	transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
}

#customize-theme-controls .control-section.control-section-colormag_section .accordion-section-title:after {
	color: #a0a5aa;
}

#customize-theme-controls .control-section.control-section-colormag_section .accordion-section-title:hover,
#customize-theme-controls .control-section.control-section-colormag_section .accordion-section-title:focus {
	color: #0073aa;
	background: #f3f3f5;
	border-right-color: #0073aa;
}

#customize-theme-controls .control-section.control-section-colormag_section .accordion-section-title:hover:after {
	color: #0073aa;
}

.colormag-hide {
	display: none !important;
}

#accordion-section-colormag_customize_upsell_section h3.accordion-section-title {
	background-color: #289DCC !important;
	border-right-color: #0073aa;
	color: #fff !important;
	padding: 0;
}

#accordion-section-colormag_customize_upsell_section h3.accordion-section-title a {
	color: #fff;
	display: block;
	padding: 12px 15px 15px;
	text-decoration: none;
}

#accordion-section-colormag_customize_upsell_section h3.accordion-section-title a:hover {
	background-color: #1f91bf !important;
}

#accordion-section-colormag_customize_upsell_section h3.accordion-section-title:after {
	color: #fff !important;
}

#accordion-section-colormag_customize_upsell_section h3 a::after {
	color: #fff;
}
