@import 'abstracts/variables/colors';

/*--------------------------------------------------------------
Dark CSS
--------------------------------------------------------------*/

body {
	background-color: $color__background-dark;
	color: $color__gray-seven;
}

/* Top Bar.
--------------------------------------------- */
.breaking-news {
	background-color: $color__gray-one;

	&-latest {
		color: $color__white;
	}
}

.date-in-header {
	color: $color__gray-seven;
}

.dark-skin {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color__white;
	}

	#page,
	.cm-main-header,
	.cm-content,
	.cm-secondary .widget {
		background-color: $color__background-dark-page;
	}

	.cm-top-bar {
		background-color: $color__background-dark-news;
	}

	.cm-mobile-nav {

		li {
			background-color: $color__gray-one;
		}
		a {
			color: $color__white;
		}
	}

	.cm-no-results {

		.cm-page-title {
			color: $color__gray-100;
		}

		.cm-page-content {

			p {
				color: $color__gray-100;
			}
		}
	}

	.search-form-top {
		background-color: $color__background-dark-footer-socket;
		border: 0 none;
	}

	.wp-block-search__input,
	.search-form-top input.s,
	input.s {
		background-color: #161616;
		border: 1px solid #343434;
		color: #E3E2E2;
	}

	.cm-featured-posts {

		.cm-post {
			box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
			border-radius: 4px;
		}

		&.cm-tab-widget {
			box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
			border-radius: 4px;

			.cm-post {
				box-shadow: none;
			}
		}

		.cm-post-content {

			.cm-entry-title {
				a {
					color: #F4F4F5;
				}
			}

			.cm-below-entry-meta {

				.cm-post-date,
				.cm-author,
				.cm-comments-link {
					svg {
						fill: $color__light-content;
					}
				}
			}
		}

		.cm-random-posts,
		.cm-breaking-news {
			box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
			border-radius: 4px;

			.cm-post {
				box-shadow: 0 0 0 0 transparent;
			}
		}
	}

	.cm-post-date,
	.cm-author,
	.cm-comments-link {

		a {
			color: #aeaeae;
		}
	}

	.cm-featured-category-slider-widget,
	.cm-highlighted-posts {

		.cm-post-date,
		.cm-author,
		.cm-comments-link {

			a {
				color: $color__gray-100;
			}
		}
	}

	.comment-respond {

		form {

			label {
				color: #E3E2E2;
			}
		}
	}

	.comments-area {

		.fn {

			a {
				color: $color__white;
			}
		}
	}

	.human-diff-time {
		color: $color__light-content;
	}

	.search-form-top.show::before {
		border-bottom: 12px solid #121212;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
	}

	.cm-comments-link {

		span {
			color: $color__light-content;
		}
	}

	.cm-thumbnail-slider {
		border-color: $color__background-dark-page;
	}

	#comments {
		border-color: $color__gray-three;
	}

	.cm-posts {

		.post {
			box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
			border-radius: 4px;

			.cm-post-content {

				.cm-entry-title a {
					color: #F4F4F5;
				}

				.cm-below-entry-meta {

					.cm-author,
					.cm-comments-link,
					.cm-tag-links,
					.cm-edit-link,
					.cm-post-date,
					.cm-post-views {

						svg {
							color: $color__light-content;
						}
					}

					.cm-post-views {

						span {
							color: $color__light-content;
						}
					}

					.cm-edit-link {

						a {
							color: $color__light-content;
						}
					}
				}
			}
		}
	}

	.single-related-posts {

		.cm-post-content {

			.cm-entry-title {
				a {
					color: #F4F4F5;
				}
			}

			.cm-below-entry-meta {

				.cm-post-date,
				.cm-comments-link {

					.fa {
						color: $color__light-content;
					}
				}
			}
		}
	}

	.post,
	.search {

		.cm-entry-title {

			a {
				color: #F4F4F5;
			}
		}

	}

	.cm-random-posts {
		box-shadow: 0 0 0 0 transparent;
	}

	.previous,
	.next {

		svg {
			fill: $color__gray-100
		}

	}

	.cm-layout-2 {

		.cm-mobile-nav {
			.cm-submenu-toggle,
			.cm-home-icon,
			.cm-menu-toggle {
		
				svg {
					fill: $color__gray-100
				}
			}
		
			.cm-random-post {
		
				a {
					svg {
						fill: $color__gray-100
					}
				}
			}
		}
	}

	.single-related-posts {
		box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.24);
		border-radius: 4px;
	}

	.cm-footer-cols,
	.cm-footer-bar {
		border-top: 0 none;
		background-color:$color__background-dark-footer-socket;
	}

	#cm-footer .cm-upper-footer-cols .widget {
		border: 0 none;

		.cm-post,
		.cm-random-posts {
			box-shadow: none;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea,
	.comment-content {
		background-color: $color__background-dark-page;
		color: $color__gray-seven;
		border-color: $color__gray-five;
	}
	.cm-view-all-link {
		background :$color__background-dark-page;
	}

	/*--------------------------------------------------------------
	Header Clean layout CSS
	--------------------------------------------------------------*/

	.cm-layout-2 {

		.cm-primary-nav {

			ul > li > a {
				color: $color__gray-100;
			}

			.cm-home-icon,
			.cm-submenu-toggle,
			.cm-menu-toggle,
			.cm-random-post {
				svg,
				.cm-icon {
					fill: $color__gray-100;
				}
			}

			ul ul.sub-menu li a {
				color: $color__gray-700;
			}

		}

		.is-sticky #cm-primary-nav {
			background-color: #111111;
		}

		.cm-mobile-nav {

			.cm-submenu-toggle {

				svg{
					fill: $color__gray-100;
				}
			}
		}

		#cm-primary-nav {

			.fa {
				color: $color__gray-100;
			}
		}

		.cm-mobile-nav li {
			border-color: #3F3F46;
			a {
				color: $color__gray-100;
			}
		}
	}

	&.colormag-header-clean {

		.cm-primary-nav {
			.sub-menu,
			.children {
				background-color: $color__background-news;
			}
		}

		.cm-mobile-nav {

			li {
				background-color:$color__background-news;
			}
		}
	}

	&.colormag-header-clean,
	&.colormag-header-classic,
	&.colormag-header-clean--full-width {

		.breaking-news .newsticker a,
		.social-links i.fa {
			color: $color__gray-seven;
		}
	}

	&.colormag-header-classic {

		.is-sticky {

			#cm-primary-nav {
				background-color: $color__background-news;
			}

			.cm-mobile-nav li {
				background-color: $color__background-news;
			}
		}

		#cm-primary-nav {

			.cm-menu-toggle {
				border-color: $color__gray-seven;

				&::before {
					color:$color__gray-seven;
				}
			}

			&.cm-primary-nav {

				ul {

					ul.sub-menu,
					.children {
						background-color: $color__background-news;
						border-color: $color__gray-three;

						li {
							border-color: $color__gray-three;
						}
					}
				}

				a,
				.cm-random-post a .fa-random,
				.cm-home-icon .fa {
					color: $color__white;
				}
			}

			&.cm-mobile-nav .cm-random-post a .fa-random,
			.fa.search-top {
				color: $color__white;
			}
		}
	}
	&.colormag-header-clean--full-width {

		.cm-top-bar {
			background-color: $color__background-dark-news;
		}
	}

	.colormag-footer--classic {

		.cm-footer-cols {
			background-color: $color__background-medium-footer-socket;
		}
		.cm-footer-bar {
			background-color: $color__background-dark-footer-socket;
		}
	}

	.elementor {

		.tg-module-wrapper {
			color: $color__gray-seven;

			.tg-module-title {
				color: $color__white;
			}

			.tg-module-meta {

				.tg-post-auther-name,
				.tg-post-date,
				.tg-module-comments {

					a,
					span {
						color: $color__light-content;
					}
				}
			}

			&.tg-module-block.tg-module-block--style-5 .tg_module_block .tg-module-title,
			&.tg-module-block.tg-module-block--style-5 .tg_module_block .block-content {
				background: $color__background-dark-page;
			}
		}
	}

	.cm-entry-summary p {
		color: #E3E2E2;
	}

	.previous a,
	.next a {
		color: #F4F4F5;

		&:hover {
			color: #F4F4F5;
		}
	}

	.cm-entry-title {

		a {
			color: #F4F4F5;

			&:hover {
				color: #F4F4F5;
			}
		}
	}

}

.cm-breaking-news i.fa-arrow-up::before,
.cm-breaking-news i.fa-arrow-down::before {
	background-color: #161616;
	border: 1px solid #161616;
}

/* Support Dark Skin.
--------------------------------------------- */
.dark-skin {

	body {
		color: #cccccc;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
	}

	.mzb-post-list,
	.mzb-tab-post,
	.mzb-featured-posts,
	.mzb-featured-categories {
		.mzb-post {
			background-color: $color__background-light;
		}
	}

	.mzb-tab-post {

		.mzb-tab-title {
			background-color: $color__background-light;

			&.active {
				background-color: var(--color--primary);
			}
		}
	}
}

/* Support Magazine Blocks.
--------------------------------------------- */
.mzb-post-list,
.mzb-tab-post,
.mzb-banner-posts,
.mzb-featured-posts,
.mzb-featured-categories,
.mzb-grid-module {

	.mzb-post-date,
	.mzb-post-author {
		a {
			color: var(--color--gray);
		}

		svg {
			fill: var(--color--gray);
		}
	}
}
