/* Responsive.
--------------------------------------------- */
@media screen and (max-width: 1200px) {
	.no-sidebar-full-width {

		#primary {

			.entry-content {

				> .alignwide {
					margin-left: -20px;
					margin-right: -20px;
				}
			}
		}
	}

	.no-sidebar {

		#primary {

			.entry-content {

				> .alignwide {
					margin-left: -50px;
					margin-right: -50px;
				}

				> .alignfull {
					margin-left: -100px;
					margin-right: -100px;
				}
			}
		}
	}
}

@media screen and (max-width: 1190px) {
	#page {
		width: 97%;
	}
	.wide #page {
		width: 100%;
	}
	.inner-wrap {
		width: 94%;
	}
	.tg-full-width.inner-wrap {
		padding: 0;
	}
	.call-to-action__title {
		font-size: 40px;
	}
	.video-playing {
		padding-bottom: 45%;
	}
	.video-player.video-player--horizontal .video-playlist .video-playlist-item {
		width: 25.5%;
	}
}

@media screen and (max-width: 800px) {
	#header-text-nav-wrap {
		padding: 10px 0;
	}
	#header-left-section, .header_display_type_one #header-left-section {
		float: none;
		margin-bottom: 10px;
	}
	#header-logo-image, .header_display_type_one #header-logo-image {
		float: none;
		text-align: center;
		padding-right: 0;
		margin-bottom: 10px;
	}
	#header-text, .header_display_type_one #header-text {
		float: none;
		text-align: center;
		padding-right: 0;
	}
	#header-right-section, .header_display_type_one #header-right-section {
		float: none;
	}
	#header-right-section .widget, .header_display_type_one #header-right-section .widget {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {

	.menu-toggle {
		display: flex;
	}

	.main-navigation {
		ul {
			display: none;
		}

		.home-icon a {
			padding: 7px 10px;
		}
	}

	.search-random-icons-container .social-links ul {
		display: block;
	}

	.widget_slider_area, .widget_beside_slider {
		float: none;
		width: 100%;
	}
	.widget_slider_area {
		padding-bottom: 10px;
	}
	#primary, #secondary {
		float: none;
		width: 100%;
	}
	.advertisement_728x90 img {
		width: 96%;
	}
	.sub-toggle {
		background: $color__primary none repeat scroll 0 0;
		color: #ffffff;
		cursor: pointer;
		display: block;
		height: 24px;
		line-height: 21px;
		position: absolute;
		right: 15px;
		text-align: center;
		top: 9px;
		width: 24px;

		.fa {
			color: #ffffff;
		}
	}
	.main-small-navigation li.current-menu-item > .sub-toggle {
		background: #ffffff none repeat scroll 0 0;

		i {
			color: #d40234;
		}
	}

    .better-responsive-menu {
        .sub-menu{
            display: none;
        }
	}

	.video-player--vertical {
		.video-playing, .video-playlist {
			width: 100%;
			display: block;
		}

		.video-playing {
			padding-bottom: 65%;
		}

		&.video-playlist-item img {
			margin-bottom: 0;
			width: 20%;
		}
	}
	.video-player.video-player--horizontal .video-playlist .video-playlist-item {
		width: 35%;
	}

	.no-sidebar-full-width,
	.no-sidebar {

		#primary {

			.entry-content {

				> .alignwide {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}

		&.box-layout {

			#primary {

				.entry-content {

					> .alignwide {
						margin-left: -15px;
						margin-right: -15px;
					}

					> .alignfull {
						margin-left: -30px;
						margin-right: -30px;
					}
				}
			}
		}
	}

	.no-sidebar {
		#primary {

			.entry-content {

				> .alignfull {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.tg-one-half, .tg-one-third {
		float: none;
		width: 100%;
		margin: 0;
	}
	.num-404 {
		font-size: 170px;
		line-height: 210px;
	}
	.error {
		margin: 0 auto 50px;
		padding: 0;
		width: 70%;
	}
	.call-to-action__title {
		font-size: 36px;
	}
}

@media screen and (max-width: 600px) {
	.date-in-header {
		float: none;
		max-width: 100%;
	}

	.breaking-news::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.breaking-news-latest {
		position: static;
		vertical-align: top;
	}

	.image-ticker-news .article-content .entry-title {
		display: none;
	}

	.logged-in #masthead #site-navigation {
		top: 0 !important;
	}

	.archive #content {
		.post {
			&:first-child, &:nth-child( 2n ), &:nth-child( 2n+1 ) {
				float: none;
				width: 100%;
			}
		}

		.archive-layout-grid.post:first-child {
			float: none;
			width: 100%;
		}
	}

	.blog #content .archive-layout-grid.post:first-child,
	.search #content .archive-layout-grid.post:first-child,
	.archive #content .archive-layout-grid.post:nth-child( odd ),
	.blog #content .archive-layout-grid.post:nth-child( odd ),
	.search #content .archive-layout-grid.post:nth-child( odd ),
	.archive #content .archive-layout-grid.post:nth-child( 2n ),
	.blog #content .archive-layout-grid.post:nth-child( 2n ),
	.search #content .archive-layout-grid.post:nth-child( 2n ) {
		float: none;
		width: 100%;
	}

	.archive #content .archive-layout-grid-col-3.post,
	.blog #content .archive-layout-grid-col-3.post,
	.search #content .archive-layout-grid-col-3.post,
	.archive #content .archive-layout-grid-col-3.post:nth-child( 3n+2 ),
	.blog #content .archive-layout-grid-col-3.post:nth-child( 3n+2 ),
	.search #content .archive-layout-grid-col-3.post:nth-child( 3n+2 ),
	.archive #content .archive-layout-grid-col-3.post:nth-child( 3n+3 ),
	.blog #content .archive-layout-grid-col-3.post:nth-child( 3n+3 ),
	.search #content .archive-layout-grid-col-3.post:nth-child( 3n+3 ) {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.archive #content .archive-layout-grid-col-4.post,
	.blog #content .archive-layout-grid-col-4.post,
	.search #content .archive-layout-grid-col-4.post,
	.archive #content .archive-layout-grid-col-4.post:nth-child( 4n+2 ),
	.blog #content .archive-layout-grid-col-4.post:nth-child( 4n+2 ),
	.search #content .archive-layout-grid-col-4.post:nth-child( 4n+2 ),
	.archive #content .archive-layout-grid-col-4.post:nth-child( 4n+3 ),
	.blog #content .archive-layout-grid-col-4.post:nth-child( 4n+3 ),
	.search #content .archive-layout-grid-col-4.post:nth-child( 4n+3 ),
	.archive #content .archive-layout-grid-col-4.post:nth-child( 4n+4 ),
	.blog #content .archive-layout-grid-col-4.post:nth-child( 4n+4 ),
	.search #content .archive-layout-grid-col-4.post:nth-child( 4n+4 ) {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.blog,
	.search {

		.post {

			&:first-child,
			&:nth-child( 2n ),
			&:nth-child( 2n+1 ) {
				float: none;
				width: 100%;
			}
		}
	}

	.tg-footer-main-widget {
		float: none;
		margin-right: 0;
		width: 100%;
	}

	.tg-footer-other-widgets {
		float: none;
		width: 100%;
	}

	.footer-socket-right-section, .footer-socket-left-section {
		float: none;
		text-align: center;
	}

	.footer-socket-wrapper .copyright {
		float: none;
		max-width: 100%;
		text-align: center;
	}

	.footer-socket-area .social-links {
		float: none;
	}

	.gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		width: 25%;
	}

	.author-img {
		img {
			margin-right: 0;
		}

		display: block;
		margin: 0 auto;
	}

	.avatar {
		border-radius: 50%;
		display: inline-block;
		float: none;
		margin: 0 auto;
	}

	.search .status-publish {
		&:nth-child( 2n ), &:nth-child( 2n+1 ) {
			float: none;
			width: 100%;
		}
	}

	.call-to-action__title {
		font-size: 24px;
		margin-bottom: 0;
	}

	.call-to-action-content {
		margin-bottom: 20px;
	}

	.weather-forecast-day, #secondary .weather-forecast-day {
		width: 52%;
	}

	.no-sidebar-full-width,
	.no-sidebar {

		#primary {

			.entry-content {

				> .alignwide {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		&.box-layout {

			#primary {

				.entry-content {

					> .alignwide {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}

	.copyright-right {
		.footer-socket-left-section {
			float: none;
			text-align: center;

			.copyright {
				text-align: center;
				float: none;
				max-width: 100%;
			}
		}

		.footer-socket-right-section {
			float: none;
			text-align: center;

			.social-links {
				float: none;
				text-align: center;
			}
		}
	}

}

@media screen and (max-width: 420px) {

	.widget_highlighted_posts .single-article {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.widget_featured_posts {
		.first-post, .following-post {
			float: none;
			width: 100%;
		}
	}
	.main-content-section .tg-one-half {
		width: 100%;

		&.tg-one-half-last {
			width: 100%;
		}
	}
	.tg-second-footer-widget, .tg-third-footer-widget, .tg-fourth-footer-widget {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.single-related-posts {
		margin-right: 0;
		width: 100%;
	}
	.gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item, .gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item, .gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		width: 33.33%;
	}
}

@media screen and (max-width: 380px) {
	#masthead .search-wrap input.s {
		width: 165px;
	}
}

/* CSS cod efor not displaying the content of slider/news until page loads */
/* Newsticker */

.newsticker, .breaking-news-widget-slide {
	visibility: hidden;
}

/* Sliders */

.widget_slider_area_rotate, .widget_block_picture_news .widget_highlighted_post_area, .thumbnail-big-sliders, .image-ticker-news {
	visibility: hidden;
	height: 0;
}

/*--------------------------------------------------------------
17.0 JetPack Infinite Scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll {
	.default-wp-page, &.neverending #colophon {
		/* Theme Footer (when set to scrolling) */
		display: none;
	}
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending #colophon {
	display: block;
}

/*--------------------------------------------------------------
18.0 single post pagination
--------------------------------------------------------------*/

.default-wp-page {
	.previous, .next {
		padding: 10px;
		box-sizing: border-box;
	}
}
