.page-template-page-builder {

	.cm-primary {
		float: none;
		width: 100%;
	}

	.cm-content {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.home {

	&.page-template-page-builder {

		.cm-primary {

			.cm-posts {
				display: block;
			}
		}
	}
}
