/**
 * Typography control CSS.
 */
.customize-control-colormag-typography .customize-control-content > div {
	margin-bottom: 15px;
}

.customize-control-colormag-typography .customize-control-content .font-size,
.customize-control-colormag-typography .customize-control-content .line-height,
.customize-control-colormag-typography .customize-control-content .letter-spacing {
	position: relative;
}

span.select2-container.select2-container--default.select2-container--open {
	z-index: 999999;
}
