/**
 * Typography control CSS.
 */
.customize-control-colormag-typography {

	.customize-control-content {

		> div {
			margin-bottom: 15px;
		}

		.font-size,
		.line-height,
		.letter-spacing {
			position: relative;
		}
	}
}

span.select2-container.select2-container--default.select2-container--open {
	z-index: 999999;
}
