
/* Breaking News Widget.
--------------------------------------------- */
.widget {

	.cm-breaking-news {

		.cm-post {
			padding: 0;
		}
	}
}

.cm-breaking-news-slider-widget {
	display: flex;
	flex-direction: column;
	gap: length( 'l-6' );

	img {
		border-radius: 4px;
	}
}

.cm-breaking-news {
	width: 100%;
	padding: length( 'l-6' );
	border-radius: 4px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);

	.cm-post {
		box-shadow: none;
		padding: 0;
	}

	.cm-entry-title {
		margin-bottom: length( 'l-4' );

		a {
			display: block;
			@include font-size("font-size-xs");
			line-height: 1.4;
			padding: 0;
		}
	}

	.cm-slide-up,
	.cm-slide-down {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 100%;

		svg {
			padding: 4px;
			background-color: $color__gray-50;
			fill: $color__gray-500;
			border: 1px solid $color__gray-50;
			border-radius: 2px;
		}
	}

	
	.cm-slide-down {
		padding-top: length( 'l-8' );
	}

	.cm-slide-up {
		padding-bottom: length( 'l-8' );
	}

	.cm-post {
		display: flex;
	}

	.cm-below-entry-meta {
		margin-bottom: 0;

		.cm-comments-link,
		.cm-post-date,
		.cm-author {
			a {
				@include font-size("font-size-xxs");
			}

		}
	}

	.cm-author {
		display: none;
	}
}

i {

	&.fa-arrow-up,
	&.fa-arrow-down {
		width: 94%;
		text-align: center;
		cursor: pointer;
		padding: length( 'l-5' );
		color: $color__primary;
	}
}
