/* Style 6 widget.
--------------------------------------------- */
.cm-featured-posts--style-6 {

	&.cm-featured-posts {
		display: block;

		.cm-entry-header-meta {
			display: flex;
		}

		.cm-post-content {
			padding: length( 'l-8' );
		 }
	}

	.cm-thumbnail-slider-news .bx-caption {
		position: absolute;
		padding: length( 'l-8' );
		margin-top: -72px;
		background: $color__black;
		color: $color__white;
		opacity: 0.5;
	}

	img {
		margin-bottom: 0;
	}

	.cm-post {
		position: relative;
		border-radius: 0;
	}

	.cm-post-content {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		align-items: end;
		text-align: left;
		padding: length( 'l-12' );
		background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 100%);

		.cm-entry-title {
			margin-bottom: 0;

			a {
				@include font-size("font-size-xl");
				color: $color__white;
			}
		}
	}
}

.cm-thumbnail-slider-news {
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.cm-thumbnail-slider {
	position: relative;
	display: flex;
	gap: length( 'l-4' );
	padding: length( 'l-4' );

	img {
		border-radius: 4px;
	}

	a {
		display: inline-block;
		text-align: center;
		width: 20%;
	}

	.title {
		display: none;
	}
}
