/* Featured Category Slider Widget.
--------------------------------------------- */
.cm-featured-category-slider {
	position: relative;

    .cm-single-slide {
		position: relative;
		border-radius: 4px;
		overflow: hidden;
	}

	img {
		width: 100%;
		margin-bottom: 0;
	}

	.cm-below-entry-meta {
		margin-bottom: 0;
	}

	.single-post {

		.bx-controls-direction {
			display: none;
		}
	}

	.cm-slide-content {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		align-items: end;
		text-align: left;
		padding: 16px;
		background: linear-gradient(180deg, rgba(35, 35, 35, 0) 0%, #232323 100%);

		.cm-entry-header-meta .cm-post-categories a {
			background-color: $color__primary;
		}
	}

	.cm-entry-title {
		color: $color__white;
		@include font-size('font-size-sm');

		a {
			color: inherit;

			&:hover {
				color: $color__white;
				opacity: 0.8;
			}
		}
	}

	.cm-post-date,
	.cm-author,
	.cm-comments-link {

		svg {
			fill: $color__white;
		}
	}

	.cm-post-date a,
	.cm-author a,
	.cm-reading-time,
	.cm-reading-time::before,
	.human-diff-time-display {
		color: $color__white;
	}

	.cm-comments-link {

		a,
		span {
			color: $color__white;
		}
	}
}

.cm-slider-area-rotate {
	visibility: hidden;
	height: 0
}

@include breakpoint("mdm") {

	.cm-featured-category-slider {

		.cm-entry-title {
			@include font-size('font-size-xl');
		}

		.cm-slide-content {
			padding: length( 'l-12' );
		}
	}
}
