/* Widget Search.
	--------------------------------------------- */
.wp-block-search {

	.wp-block-search__label {
		display: none;
	}

	.wp-block-search__button {
		border: 0;
		margin-left: 0;
		border-radius: 0 4px 4px 0;
	}

	.wp-block-search__input{
		position: relative;
		padding: length( 'l-6' );
		@include font-size("font-size-xs");
		border: 1px solid $color__gray-300;
		border-radius: 4px 0 0 4px;
		line-height: 1.6;

		&:focus-visible {
			outline: none;
		}
	}

	.wp-element-button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		padding: 0;
		color: transparent;

		&::before {
			position: absolute;
			content: "\f002";
			color: $color__white;
			@include font-size("font-size-lg");
			font-family: FontAwesome;
			font-weight: 400;
		}

		&:hover {
			background-color: $color__primary;
			color: transparent;
		}
	}
}
