/* Widget Search.
--------------------------------------------- */
.wp-block-search {

    .wp-block-search__label {
        display: none;
    }

	.wp-block-search__button {
        border: 0;
        padding: 5px 10px;
        margin-left: 0;
        border-radius: 0 4px 4px 0;
    }

    .wp-block-search__input{
        position: relative;
        @include font-size("font-size-xs");
        padding: length( 'l-6' );
        border: 1px solid $color__gray-300;
        border-radius: 4px 0 0 4px;
        line-height: 1.6;

        &:focus-visible {
            outline: none;
        }
    }

    .wp-element-button {
        display: none;
    }

    button {
        background-color: $color__primary;
        border-radius: 0 4px 4px 0;
        padding: length( l-7 );
        line-height: 0.8;
    }
}
