
/* Video Playlist.
--------------------------------------------- */
.widget_video_player {
	margin-bottom: 20px;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.video-player {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.video-playing,
.video-playlist {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.video-playing {
	width: 71%;
	position: relative;
	padding-bottom: 35.6%;
	padding-top: 2.5%;
	height: 0;
}

.video-player.video-player--vertical {
	background-color: #1d1d1d;
}

.video-playing iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.video-playlist {
	width: 29%;
	height: 100%;
}

.video-playlist-item {
	display: block;
	border-bottom: 1px solid #222222;
	padding: 15px 20px;
	cursor: pointer;

	&:last-child {
		border-bottom: 0 none;
	}
}

.video-player.video-player--horizontal .video-playlist-item {
	height: 100%;
}

.video-playlist-item img,
.video-playlist-info {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	white-space: pre-wrap;
}

.video-playlist-item img {
	margin-bottom: 0;
	width: 25.5%;
}

.video-playlist-info {
	width: 71.5%;
	padding-left: 5%;
}

.video-playlist-item {

	.video-playlist-title {
		font-size: 16px;
		font-weight: 700;
		color: #f2f2f2;
		line-height: 26px;
		padding-bottom: 0;
	}

	.video-duration {
		font-size: 12px;
		color: #d5d5d5;
	}
}

.video-player {

	&.video-player--vertical .video-playlist {
		height: 434px;
		overflow-y: auto;
	}

	&.video-player--horizontal {
		background-color: #f2f2f2;

		.video-playing,
		.video-playlist {
			width: 100%;
			display: block;
			margin-right: 0;
		}

		.video-playing {
			padding-bottom: 40%;
		}

		.video-playlist {
			text-align: center;
			height: 100%;
			overflow-x: auto;
			white-space: nowrap;

			.video-playlist-item {
				display: inline-block;
				width: 17%;
				vertical-align: top;
				border-bottom: 0 none;
				margin-right: -4px;
				padding: 2%;
				position: relative;
				text-align: left;
				border-right: 2px solid #d8d8d8;

				&:last-child {
					border-right: 0 none;
					margin-right: 0;
				}
			}
		}

		.video-playlist-item img {
			width: 100%;
		}

		.video-playlist-info {
			width: 100%;
			padding-left: 0;
			padding-top: 14px;
			display: block;
		}

		.video-playlist-item {

			.video-playlist-title {
				color: #373f51;
			}

			.video-duration {
				color: #7f7f7f;
			}
		}
	}
}
