/* Front Page Widget Areas.
--------------------------------------------- */
.widget_slider_area {
	float: left;
	width: 55.26315789%;
}

.widget_beside_slider {
	float: right;
	width: 43.85964912%;
}

.widget_slider_area,
.widget_beside_slider {

	.widget-title {
		border-bottom: 2px solid $color__primary;
		font-size: 18px;
		margin-bottom: 15px;
		padding-bottom: 0;

		span {
			background-color: $color__primary;
			color: $color__white;
			padding: 6px 12px;
			display: inline-block;
		}
	}
}

.view-all-link {
	display: inline-block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 100px;
	float: right;
	color: $color__white;
	font-weight: 600;
	background-color: #000000;

	#primary & {

		span {
			background: transparent;
		}
	}
}

/* All Related to Featured Posts Widget.
--------------------------------------------- */
.posted-on a, .byline a {
	color: #888888;
}

.reading-time {
	color: #888888;
	font-size: 12px;
	padding-right: 10px;

	&::before {
		content: "\f251";
		font-family: FontAwesome;
		font-size: 11px;
		padding-right: 5px;
	}
}

.comments {
	padding-right: 10px;

	a, span {
		color: #888888;
	}
}

.tag-links a, .edit-link a {
	color: #888888;
}

.posted-on a:hover, .byline a:hover, .comments a:hover, .tag-links a:hover, .edit-link a:hover {
	color: $color__primary;
}

.widget_featured_posts {
	.article-content {
		.above-entry-meta .cat-links a {
			background-color: $color__primary;
			border-radius: 3px;
			color: $color__white;
			font-size: 12px;
			padding: 3px 10px;
			line-height: 1.37;
			display: inline-block;
		}

		.entry-title {
			padding: 10px 0 0;
			font-size: 22px;

			a {
				color: #232323;
				text-shadow: none;

				&:hover {
					color: $color__primary;
				}
			}
		}

		.below-entry-meta {
			.posted-on, .byline {
				padding-right: 10px;
			}

			.posted-on .fa {
				color: #888888;
				font-size: 10px;
				padding-right: 3px;
			}

			.byline .fa, .comments .fa {
				color: #888888;
				padding-right: 5px;
				font-size: 11px;
			}

			.posted-on a, .byline a {
				font-size: 12px;
			}

			.comments {
				a, span {
					font-size: 12px;
				}
			}
		}
	}

	margin-bottom: 30px;

	.widget-title {
		border-bottom: 2px solid $color__primary;
		font-size: 18px;
		margin-bottom: 15px;
		padding-bottom: 0;

		span {
			background-color: $color__primary;
			color: $color__white;
			padding: 6px 12px;
			display: inline-block;
		}
	}

	img {
		margin-bottom: 18px;
	}

	.first-post {
		float: left;
		width: 48.70129870%;
		margin-bottom: 20px;

		figure {
			position: relative;
		}
	}

	.following-post {
		float: right;
		width: 48.70129870%;

		.byline {
			display: none;
		}
	}

	&.widget_featured_posts_vertical {
		.first-post, .following-post {
			float: none;
			width: 100%;
		}
	}

	.single-article {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	}

	.article-content {
		padding: 0 15px 5px;

		.below-entry-meta {
			margin-bottom: 12px;
		}

		.entry-content p {
			font-size: 14px;
		}
	}

	.following-post {
		.single-article {
			margin-bottom: 15px;
		}

		figure {
			float: left;
			margin-right: 10px;
			position: relative;
		}
	}

	&.widget_featured_meta {

		.following-post {

			.single-article {
				figure {
					float: left;
					margin-right: 10px;
				}
			}
		}
	}
}

#secondary .widget_featured_posts .following-post .article-content .entry-title,
#colophon .widget_featured_posts .following-post .article-content .entry-title {
	font-size: 14px;
	line-height: 1.4;
}

.widget_featured_posts .following-post {
	.article-content {
		.entry-title {
			font-size: 18px;
		}

		.below-entry-meta {
			.posted-on a, .byline a {
				font-size: 11px;
			}

			margin-bottom: 0;
		}
	}

	img {
		margin-bottom: 0;
	}

	.above-entry-meta {
		display: none;
	}
}

/* Category Slider Widget.
--------------------------------------------- */
.rtl .bx-wrapper {
	direction: rtl;
}

.widget_featured_slider {
	margin-bottom: 30px;
}

.widget_slider_area .widget_featured_slider {
	margin-bottom: 0;
}

.top-full-width-sidebar .widget_featured_slider {
	margin-bottom: 10px;
}

.tg-full-width {
	&.inner-wrap {
		max-width: 100%;
		padding: 0 15px;
	}

	.home #main {
		padding-top: 0;
	}
}

.widget_featured_slider_inner_wrap {
	position: relative;
}

.widget_featured_slider {
	.single-slide {
		position: relative;
	}

	img {
		margin-bottom: 0;
	}

	.single-post {
		.bx-controls-direction {
			display: none;
		}
	}

	.slide-content {
		position: absolute;
		bottom: 0;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		padding-bottom: 20px;
		padding-left: 5%;
		position: absolute;
		width: 100%;
		text-align: left;

		.above-entry-meta .cat-links a {
			background-color: $color__primary;
			border-radius: 3px;
			color: $color__white;
			font-size: 12px;
			padding: 3px 10px;
		}

		.entry-title {
			padding: 10px 0 0;
			font-size: 22px;

			a {
				color: $color__white;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

				&:hover {
					color: $color__primary;
				}
			}
		}

		.below-entry-meta {
			.posted-on, .byline {
				padding-right: 10px;
			}

			.posted-on .fa {
				color: $color__white;
				font-size: 10px;
				padding-right: 3px;
			}

			.byline .fa, .comments .fa {
				color: $color__white;
				padding-right: 5px;
				font-size: 11px;
			}

			.posted-on a, .byline a, .reading-time {
				color: $color__white;
				font-size: 12px;
			}

			.comments {
				a, span {
					color: $color__white;
					font-size: 12px;
				}
			}

			.posted-on a:hover, .byline a:hover, .comments a:hover {
				color: $color__primary;
			}
		}
	}
}

/* Highlighted posts widget.
--------------------------------------------- */
.widget_highlighted_posts {
	margin-bottom: 20px;
}

.widget_beside_slider .widget_highlighted_posts {
	margin-bottom: 0;
}

.widget_highlighted_posts {
	.single-article {
		position: relative;
		float: left;
		margin-bottom: 10px;
		margin-right: 2%;
		max-width: 49%;

		&:nth-child(even) {
			margin-right: 0;
		}
	}

	img {
		margin-bottom: 0;
	}

	.article-content {
		position: absolute;
		bottom: 0;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
		padding-bottom: 10px;
		padding-left: 5%;
		position: absolute;
		width: 100%;
	}

	.above-entry-meta {
		display: none;
	}

	.article-content {
		.above-entry-meta .cat-links a {
			background-color: $color__primary;
			border-radius: 3px;
			color: $color__white;
			font-size: 12px;
			padding: 3px 10px;
		}

		.entry-title {
			padding: 10px 0 0;
			font-size: 16px;

			a {
				color: $color__white;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

				&:hover {
					color: $color__primary;
				}
			}
		}

		.below-entry-meta {
			.posted-on {
				padding-right: 10px;
			}

			.byline {
				padding-right: 10px;
				display: none;
			}

			.posted-on .fa {
				color: $color__white;
				font-size: 10px;
				padding-right: 3px;
			}

			.byline .fa, .comments .fa {
				color: $color__white;
				padding-right: 5px;
				font-size: 11px;
			}

			.posted-on a, .byline a, .reading-time {
				color: #ffffff;
				font-size: 11px;
			}

			.comments {
				a, span {
					color: #ffffff;
					font-size: 11px;
				}
			}

			.posted-on a:hover, .byline a:hover, .comments a:hover {
				color: $color__primary;
			}
		}
	}

	.widget-title {
		color: #555555;
		font-size: 24px;
	}
}

/* Widget News in Pictures.
--------------------------------------------- */
.widget_block_picture_news_inner_wrap {
	position: relative;
}

.widget_block_picture_news {
	&.widget_highlighted_posts {
		.single-article {
			width: 48.7013%;
			max-width: 48.7013%;
			margin-right: 0;
			margin-bottom: 20px;

			&:nth-child( even ) {
				float: right;
			}
		}

		.article-content {
			padding: 0 4% 15px;
			text-align: left;
		}

		.below-entry-meta {
			display: none;
		}

		.article-content .entry-title {
			font-size: 18px;
		}
	}

	&.widget_featured_posts {
		.article-content .entry-title a {
			color: #ffffff;

			&:hover {
				color: $color__primary;
			}
		}

		img {
			margin-bottom: 0;
		}

		.article-content .below-entry-meta {
			.posted-on .fa, .byline .fa, .comments .fa {
				color: #ffffff;
			}
		}
	}
}

#primary .widget-title {
	border-bottom: 2px solid $color__primary;
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 0;

	span {
		background-color: $color__primary;
		color: $color__white;
		padding: 6px 12px;
		display: inline-block;
	}
}

/* Slider widget NEXT PREVIOUS buttons.
--------------------------------------------- */
.slide-prev, .category-slide-prev, .slide-next, .category-slide-next {
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: $color__primary;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	/* IE 9 */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	border-radius: 3px;
}

.slide-prev {
	margin-left: 20px;
}

.slide-next {
	right: 0;
	margin-right: 20px;
}

.slide-prev:hover, .category-slide-prev:hover, .slide-next:hover, .category-slide-next:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Category Slider Next Previous.
--------------------------------------------- */
.category-slide-prev, .category-slide-next {
	top: 94%;
	-ms-transform: translateY(-94%);
	/* IE 9 */
	-webkit-transform: translateY(-94%);
	transform: translateY(-94%);
	z-index: 99;
}

.category-slide-prev {
	right: 0;
	margin-right: 50px;
}

.category-slide-next {
	right: 0;
	margin-right: 20px;
}

.slide-next i, .slide-prev i, .category-slide-next i, .category-slide-prev i {
	color: #ffffff;
	font-size: 22px;
	padding: 3px 10px;
	vertical-align: text-bottom;
}

/* Default News Widget.
--------------------------------------------- */
.widget_default_news_colormag.widget_featured_posts {

	.fluid-width-video-wrapper {
		margin-bottom: 20px;
		padding: 0 !important;

		iframe {
			width: 390px;
			height: 205px;
			margin-right: 20px;
			margin-bottom: 0;
			position: relative;
			float: left;
		}
	}

	.article-content {
		padding-top: 15px;
	}

	.single-article {
		margin-bottom: 20px;

		figure {
			margin-right: 20px;
			margin-bottom: 0;
			position: relative;
			float: left;
		}
	}
}

/* Tabbed Widget.
--------------------------------------------- */
.widget_tabbed_colormag {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

	.article-content .entry-title {
		font-size: 14px;
		line-height: 1.4;
		padding-top: 0;
	}
}

.footer-widgets-area .widget_tabbed_colormag .widget-tabs a:hover {
	color: #ffffff;
}

.widget_tabbed_colormag {
	.article-content .below-entry-meta {
		.posted-on a, .byline a {
			font-size: 11px;
		}

		.comments {
			a {
				font-size: 11px;
			}

			font-size: 11px;
		}
	}

	.single-article {
		box-shadow: none;
		clear: both;
	}

	.article-content {
		padding-top: 15px;
	}
}

.tabbed-widget li {
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding-top: 10px;

	&.active, &:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

#secondary .tabbed-widget a:hover {
	text-decoration: none;
}

.tabbed-widget {

	.widget-tabs {
		padding: 0;
	}

	.tabbed-images {
		float: left;
		position: relative;
	}

	.entry-title {
		padding: 0;
	}

	.byline {
		display: none;
	}

	li {
		list-style: none;
	}

	img {
		margin-bottom: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}

	.tabbed-comment-widget img {
		margin: 10px;
	}

	ul {

		li {
			background-color: $color__primary;
			display: inline-block;
			float: left;
			text-align: center;
			width: 33.3334%;
			padding: 5px 0;

			a {
				color: #ffffff;
				font-size: 15px;
			}

			i {
				margin-right: 5px;
				color: #ffffff;
			}
		}

		&.column-2 {

			li {
				width: 50%;
			}
		}

		&.column-1 {

			li {
				width: 100%;
			}
		}
	}

	.tabbed-comment-widget {
		clear: both;
	}
}

/* Random Posts Widget.
--------------------------------------------- */
.widget_random_post_colormag.widget_featured_posts {
	.article-content .entry-title {
		font-size: 14px;
		line-height: 1.4;
	}

	.single-article {
		box-shadow: none;
	}
}

.random_posts_widget_inner_wrap {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.widget_random_post_colormag .article-content .below-entry-meta {
	.posted-on a, .byline a {
		font-size: 11px;
	}

	.comments {
		a,
		span {
			font-size: 11px;
		}

		font-size: 11px;
	}
}

.random-posts-widget {
	.random-images {
		float: left;
		clear: both;
		position: relative;
	}

	.entry-title {
		padding: 0;
	}

	.byline {
		display: none;
	}

	img {
		margin-right: 10px;
	}
}

/* Big Image and Thumbnails Slider Widget.
--------------------------------------------- */
.widget_slider_news_colormag {
	.thumbnail-slider-news .bx-caption {
		background: #000000;
		color: $color__white;
		padding: 15px;
		position: absolute;
		margin-top: -72px;
		opacity: 0.5;
	}

	img {
		margin-bottom: 0;
	}

	.single-article {
		position: relative;
	}

	.article-content {
		position: absolute;
		bottom: 0;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
		padding-bottom: 20px;
		padding-left: 5%;
		width: 100%;
		text-align: left;

		.entry-title a {
			color: #ffffff;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
		}
	}
}

.thumbnail-slider {
	padding: 4px 0;
	border: 1px solid $color__border;
	position: relative;

	a {
		display: inline-block;
		text-align: center;
		width: 20%;
	}

	.title {
		display: none;
	}
}

/* Style 7 widget.
--------------------------------------------- */
.widget_ticker_news_colormag {

	.article-content {
		text-align: left;
	}
}

/* Breaking News Widget.
--------------------------------------------- */
.widget_breaking_news_colormag.widget_featured_posts .single-article {
	box-shadow: none;
}

.breaking_news_widget_inner_wrap {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.breaking-news-widget-slide .tabbed-images {
	float: left;
	padding-right: 10px;
}

.widget_featured_posts .breaking-news-widget-slide .entry-title {
	font-size: 14px;
	line-height: 1.4;
	padding: 0;
}

.breaking-news-widget-slide .byline {
	display: none;
}

.widget_breaking_news_colormag .article-content .below-entry-meta {
	.posted-on a, .byline a {
		font-size: 11px;
	}

	.comments {
		a {
			font-size: 11px;
		}

		font-size: 11px;
	}
}

i {
	&.fa-arrow-up, &.fa-arrow-down {
		padding: 10px;
		color: $color__primary;
		width: 94%;
		text-align: center;
		cursor: pointer;
	}
}

/* Ticket News Widget.
--------------------------------------------- */
.image-ticker-news {
	.article-content {
		.above-entry-meta, .below-entry-meta {
			display: none;
		}

		.entry-title {
			font-size: 14px;
			line-height: 1.3;
			padding-top: 0;
		}
	}

	img {
		margin-bottom: 5px;
	}
}

/* Ajax popup CSS in ticker news widget */
.mfp-content #content {
	background: $color__white;
	max-width: 50%;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/* Advertisement Widget.
--------------------------------------------- */
.advertisement_125x125 img {
	margin-bottom: 8px;
	padding: 0 2px;
}

.advertisement-title {
}

.advertisement_300x250 img {
	margin: 0 auto;
	display: block;
}

#header-right-section .advertisement_728x90 {
	margin-bottom: 0;
	padding: 0;

	img {
		padding: 0;
	}
}

.advertisement_728x90 {
	padding: 15px 0 45px;
	display: block;
}


.advertisement_728x90 img {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	display: block;
	margin: 0 auto;
}

.advertisement-content {
	text-align: center;
}

.advertisement_below_post_title {
	float: left;
	width: 300px;
	margin-right: 10px;
}

/* Small Thumbnails widget.
--------------------------------------------- */
.widget_featured_posts.widget_featured_posts_small_thumbnails .following-post {
	float: none;
	width: 100%;
}

.tg-front-post-load-more {
	background-color: #000000;
	color: $color__white;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	padding: 10px;
}

.widget .waiting {
	margin: 0 0 0 7px;
	vertical-align: middle;
}

/* Call to Action.
--------------------------------------------- */
.widget_call_to_action {
	margin-bottom: 30px;
}

.call-to-action {
	background-color: $color__primary;
	padding: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}

.call-to-action-border {
	background-color: rgba(250, 250, 250, 0.87);
	padding: 60px 60px 70px;
	position: relative;
	z-index: 1;
}

.call-to-action--center {
	text-align: center;
}

.call-to-action--left {
	text-align: left;
}

.call-to-action--right {
	text-align: right;
}

.call-to-action-border {
	&::before {
		position: absolute;
		content: "";
		top: 30px;
		bottom: 30px;
		left: 30px;
		right: 30px;
		margin: 0 auto;
		border: 1px solid #c0bcb9;
		height: auto;
		width: auto;
		z-index: -1;
	}

	&::after {
		position: absolute;
		content: "";
		top: 30px;
		bottom: 30px;
		left: 30px;
		right: 30px;
		margin: 0 auto;
		border: 1px solid #c0bcb9;
		height: auto;
		width: auto;
		z-index: -1;
		top: 34px;
		left: 34px;
		right: 34px;
		bottom: 34px;
	}
}

.call-to-action__title {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}

.call-to-action-content {
	margin-bottom: 40px;
}

.widget_call_to_action .btn--primary {
	background-color: $color__primary;
	color: #ffffff;
	padding: 20px 25px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}

/* Weather.
--------------------------------------------- */
#secondary .widget.widget_weather .weather-info {
	color: #fffdfd;
}

.widget_weather {
	.weather-info {
		color: #fffdfd;
	}

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.weather-forecast-header {
	padding: 30px 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	color: #fffdfd;
}

.weather-info {
	padding: 0 20px 30px;
	text-align: center;
}

.weather-location, .weather-today {
	display: inline-block;
	vertical-align: top;
}

.weather-location {
	margin-top: 5px;

	span {
		display: block;
	}

	.owf {
		line-height: 80px;
	}
}

#secondary .weather-location .owf {
	line-height: 80px;
}

.weather-info .weather-icon {
	font-size: 100px;
}

#secondary {
	.weather-info .weather-icon {
		font-size: 100px;
	}

	.weather-location-name {
		font-size: 24px;
		font-weight: 700;
		padding-top: 15px;
	}
}

.weather-location-name {
	font-size: 24px;
	font-weight: 700;
	padding-top: 15px;
}

.weather-desc {
	padding-top: 15px;
}

.weather-today {
	text-align: left;
	margin-left: 40px;
}

#secondary .weather-desc, .weather-desc {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	padding-top: 0;
}

.weather-info .weather-temp, .weather_highlow, .weather_wind {
	display: block;
	padding-top: 10px;
}

#secondary .weather-current-temp, .weather-current-temp {
	font-size: 48px;
	font-weight: 700;
}

.weather-today span {
	margin-right: 5px;
	color: #fffdfd;
}

.weather-current-temp sup {
	vertical-align: text-top;
	font-size: 16px;
	line-height: 40px;
}

/* Video Playlist.
--------------------------------------------- */
.widget_video_player {
	margin-bottom: 20px;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.video-player {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.video-playing, .video-playlist {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.video-playing {
	width: 71%;
	position: relative;
	padding-bottom: 35.6%;
	padding-top: 2.5%;
	height: 0;
}

.video-player.video-player--vertical {
	background-color: #1d1d1d;
}

.video-playing iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.video-playlist {
	width: 29%;
	height: 100%;
}

.video-playlist-item {
	display: block;
	border-bottom: 1px solid #222222;
	padding: 15px 20px;
	cursor: pointer;

	&:last-child {
		border-bottom: 0 none;
	}
}

.video-player.video-player--horizontal .video-playlist-item {
	height: 100%;
}

.video-playlist-item img, .video-playlist-info {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	white-space: pre-wrap;
}

.video-playlist-item img {
	margin-bottom: 0;
	width: 25.5%;
}

.video-playlist-info {
	width: 71.5%;
	padding-left: 5%;
}

.video-playlist-item {
	.video-playlist-title {
		font-size: 16px;
		font-weight: 700;
		color: #f2f2f2;
		line-height: 26px;
		padding-bottom: 0;
	}

	.video-duration {
		font-size: 12px;
		color: #d5d5d5;
	}
}

.video-player {
	&.video-player--vertical .video-playlist {
		height: 434px;
		overflow-y: auto;
	}

	&.video-player--horizontal {
		background-color: #f2f2f2;

		.video-playing, .video-playlist {
			width: 100%;
			display: block;
			margin-right: 0;
		}

		.video-playing {
			padding-bottom: 40%;
		}

		.video-playlist {
			text-align: center;
			height: 100%;
			overflow-x: auto;
			white-space: nowrap;

			.video-playlist-item {
				display: inline-block;
				width: 17%;
				vertical-align: top;
				border-bottom: 0 none;
				margin-right: -4px;
				padding: 2%;
				position: relative;
				text-align: left;
				border-right: 2px solid #d8d8d8;

				&:last-child {
					border-right: 0 none;
					margin-right: 0;
				}
			}
		}

		.video-playlist-item img {
			width: 100%;
		}

		.video-playlist-info {
			width: 100%;
			padding-left: 0;
			padding-top: 14px;
			display: block;
		}

		.video-playlist-item {
			.video-playlist-title {
				color: #373f51;
			}

			.video-duration {
				color: #7f7f7f;
			}
		}
	}
}

/* Currency Exchange.
--------------------------------------------- */
#header-right-section .widget.widget_exchange, .widget.widget_exchange {
	margin-bottom: 30px;
	text-align: left;
}

.exchange-currency {
	background-color: #fcfdfd;

	.base-currency {
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		padding: 20px;
		border-bottom: 1px solid #e4e3e2;
	}

	.currency-list {
		padding: 20px;
	}

	.currency-table {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;
		border-bottom: 1px solid #efefef;
		padding-bottom: 10px;
		margin-right: -4px;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0 none;
		}
	}

	.currency--country {
		font-weight: 700;
		display: inline-block;
	}

	&.exchange-column-1 .currency-table {
		width: 100%;
		padding-right: 0;
	}

	&.exchange-column-2 .currency-table {
		width: 46%;
		padding-right: 8%;
	}

	&.exchange-column-3 .currency-table {
		width: 28%;
		padding-right: 8%;
	}

	&.exchange-column-2 .currency-table:nth-child( 2n ),
	&.exchange-column-3 .currency-table:nth-child( 3n ) {
		padding-right: 0;
	}
}

.currency--flag {
	width: 24px;
	height: 24px;
	background-image: url(img/flags.png);
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: top;
	margin: 1px 5px 0 0;

	&.currency--flag-aud {
		background-position: 2px -2px;
	}

	&.currency--flag-bgn {
		background-position: -24px 0;
	}

	&.currency--flag-brl {
		background-position: -48px 0;
	}

	&.currency--flag-cad {
		background-position: -72px 0;
	}

	&.currency--flag-chf {
		background-position: -96px 0;
	}

	&.currency--flag-cny {
		background-position: 0 -24px;
	}

	&.currency--flag-czk {
		background-position: -24px -24px;
	}

	&.currency--flag-dkk {
		background-position: -48px -24px;
	}

	&.currency--flag-gbp {
		background-position: -96px -24px;
	}

	&.currency--flag-hkd {
		background-position: 0 -48px;
	}

	&.currency--flag-hrk {
		background-position: -24px -48px;
	}

	&.currency--flag-huf {
		background-position: -48px -48px;
	}

	&.currency--flag-idr {
		background-position: -72px -48px;
	}

	&.currency--flag-ils {
		background-position: -96px -48px;
	}

	&.currency--flag-inr {
		background-position: 0 -71px;
	}

	&.currency--flag-jpy {
		background-position: -24px -75px;
	}

	&.currency--flag-krw {
		background-position: -48px -72px;
	}

	&.currency--flag-mxn {
		background-position: -72px -72px;
	}

	&.currency--flag-myr {
		background-position: -96px -72px;
	}

	&.currency--flag-nok {
		background-position: 0 -96px;
	}

	&.currency--flag-nzd {
		background-position: -24px -96px;
	}

	&.currency--flag-php {
		background-position: -48px -96px;
	}

	&.currency--flag-pln {
		background-position: -72px -96px;
	}

	&.currency--flag-ron {
		background-position: -96px -96px;
	}

	&.currency--flag-rub {
		background-position: -120px 0;
	}

	&.currency--flag-sek {
		background-position: -120px -24px;
	}

	&.currency--flag-sgd {
		background-position: -120px -48px;
	}

	&.currency--flag-thb {
		background-position: -120px -72px;
	}

	&.currency--flag-try {
		background-position: -120px -96px;
	}

	&.currency--flag-usd {
		background-position: 0 -120px;
	}

	&.currency--flag-zar {
		background-position: -24px -120px;
	}

	&.currency--flag-eur {
		background-position: -72px -24px;
	}
}

.currency--rate {
	float: right;
}

/* Widgets General CSS.
--------------------------------------------- */
.fitvids-video .video {
	margin-bottom: 10px;
}

#secondary .widget,
#tertiary .widget {
	ul {
		li {
			line-height: 1.5;
			padding: 5px 0;
		}
	}
}

#colophon .widget ul li {
	line-height: 1.5;
	padding: 5px 0;
	border-bottom: 1px solid #444;
}

#secondary .widget,
#colophon .widget,
#tertiary .widget {
	ul {
		li li {
			border-bottom: none;
		}

		ul {
			padding-left: 10px;
		}
	}
}

.widget select {
	border: 1px solid #dddddd;
	color: #777777;
	padding: 2px;
	width: 60%;
}

#secondary,
#tertiary {
	.widget-title {
		border-bottom: 2px solid $color__primary;
		font-size: 18px;
		margin-bottom: 15px;
		padding-bottom: 0;

		span {
			background-color: $color__primary;
			color: $color__white;
			padding: 6px 12px;
			display: inline-block;

			.rsswidget {
				img {
					margin-top: 5px;
					margin-bottom: 0;
				}

				color: $color__white;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.widget {
		margin-bottom: 35px;
		font-size: 14px;
	}
}

.error-404 .widget {
	margin-bottom: 35px;
	font-size: 14px;
	background-color: #ffffff;
}

#secondary,
#tertiary {
	.widget p {
		font-size: 14px;
	}

	a:hover {
		text-decoration: underline;
	}
}

.error-404 {
	padding-bottom: 20px;
	text-align: center;

	input.s {
		width: 50%;
	}
}

.widget_slider_news_colormag {
	a {
		display: inline-block;
	}
}
