.colormag-message {
	overflow: hidden;
	position: relative;
	border: 10px solid #97d2e7 !important;
}

.colormag-message-wrapper {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 50px 0;
}

.colormag-message-wrapper .submit {
	text-align: center;
	padding-top: 25px;
}

.submit a.btn-get-started:before {
	margin: 0 4px 3px 0;
	vertical-align: middle;
}

.colormag-message a.button-primary,
.colormag-message a.button-secondary {
	text-decoration: none !important;
}

.colormag-message a.colormag-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

.colormag-message a.colormag-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
