/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-VariableFont.woff) format('woff');
}
