/* Fonts.
--------------------------------------------- */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-BoldItalic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-ExtraBoldItalic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-Italic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback;
	src:
		url(fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-LightItalic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 500;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-MediumItalic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-display: fallback;
	src:
		url(fonts/OpenSans-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-SemiBoldItalic.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(fonts/OpenSans-VariableFont.woff) format('woff');
}
