.wrap .colormag-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_colormag-options .wrap {
	margin-top: 0;
}

/**
 * Notices.
 */
.colormag-notice {
	position: relative;
	padding: 6px 40px 6px 12px;
}

.colormag-notice .links {
	margin: 0.5em 0;
}

.colormag-notice .links a {
	margin: 2px;
}

.colormag-notice .links a > span {
	vertical-align: middle;
}

.colormag-notice .notice-text .coupon-code {
	display: inline-block;
}

.colormag-notice .notice-dismiss {
	text-decoration: none;
}

/**
 * Welcome notice.
 */
.colormag-message__content {
	display: flex;
	align-items: center;
}

.colormag-message__content .colormag-message__image {
	flex: 0 0 160px;
	min-height: 100px;
	margin-right: 12px;
	padding-right: 12px;
	border-right: 1px solid #FCFCFD;
}

.colormag-message__content .colormag-message__image .colormag-screenshot {
	width: 100%;
	box-shadow: 0 0 1px 0 #ccd0d4;
	margin: 0;
	float: none;
}

.colormag-message__content .colormag-message__heading {
	margin-top: 0;
	margin-bottom: 12px;
	line-height: 1.4;
}

.colormag-message__content .colormag-message__cta {
	display: flex;
	align-items: center;
}

.colormag-message__content .colormag-message__cta .plugin-install-notice {
	margin-left: 15px;
	line-height: 1.4;
}

.colormag-message__content .colormag-message__cta a:before {
	margin: 5px;
	vertical-align: middle;
}

a.colormag-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

a.colormag-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@media screen and (max-width: 782px) {
	.colormag-message__image {
		display: none;
	}
}

/**
 * Dashboard page.
 */
.wrap .colormag-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_colormag-options .wrap {
	margin-top: 0;
}

/**
 * Responsive.
 */
@media (max-width: 600px) {
	.colormag-message__content .colormag-screenshot {
		display: none;
	}
	.colormag-message__content .colormag-message__text {
		padding: 0;
		width: 100%;
	}
}
