// Define 12 column grid width
$column-12: 100%;
$collumn-11: 91.66666667%;
$column-10: 83.33333333%;
$column-9: 75%;
$column-8: 66.66666667%;
$column-7: 58.33333333%;
$column-6: 50%;
$column-5: 41.66666667%;
$column-4: 33.33333333%;
$column-3: 25%;
$column-2: 16.66666667%;
$column-1: 8.33333333%;
