/**
 * Radio buttonset control CSS.
 */
.customize-control-colormag-buttonset {

	.buttonset {
		display: inline-block;
		border: 1px solid #555d66;

		.colormag-buttonset {
			float: left;
			background: #f1f1f1;
			padding: 5px 12px;
			border-right: 1px solid #555d66;

			&:last-child {
				border-right: 0;
			}
		}

		input {
			display: none;

			&:checked + label {
				background: #289dcc;
				color: #ffffff;
			}
		}
	}

}
