.cm-entry-button {
	display: inline-block;
	margin-top: length( 'l-12', em );
	background-color: $color__primary;
	border-radius: 2px;

	span {
		display: inline-block;
		padding: length( 'l-2', px ) length( 'l-6', px );
		color: $color__white;
		@include font-size('font-size-xs');
		font-weight: 600;
		cursor: pointer;
		line-height: $line-height__body;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
