.cm-featured-image {
	text-align: center;

	a {
		display: block;
		position: relative;
	}
}

.single-post .cm-post-content > .cm-featured-image {

	img {
		width: 100%;
		height: auto;
		aspect-ratio: 800 / 445;
		object-fit: cover;
	}
}
