$color__primary : #2563EB;

$color_1: #232323;
$color_2: #000;
$color_3: #3C434A;
$color_4: #fff;
$color_5: #6547DB;
$background-color_1: #FAFDFF;
$background-color_2: #fff;
$border-color_1: #6547DB;
$border-left-color_1: #6547DB;
