/* No result page.
--------------------------------------------- */
.cm-no-results {
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;

    img {
        margin-bottom: 32px;
    }

	.cm-page-title {
        color: #52525B;
		@include font-size("font-size-lg");
		font-weight: 600;
		line-height: 1.3;
        border-bottom: 0;
	}

	.cm-page-header {
		margin-bottom: 12px;
	}

	.cm-page-content {
		display: flex;
        flex-direction: column;
		justify-content: center;
        align-items: center;
		gap: 40px;

		p {
			width: 100%;
			margin-bottom: 0;
			color: #52525B;
		}
	}

    .search-wrap {
        display: flex;
    }

    .search-form {
        width: 100%;
    }

	input.s {
        width: 100%;
        @include font-size("font-size-xs");
        border: 1px solid #E4E4E7;
        border-radius: 4px 0 0 4px;
    }
}

.search-no-results {
    .cm-posts {
        display: block;
    }
}

@include breakpoint("mdm") {

	.cm-no-results {

        .cm-page-content {

            p {
                width: 430px;
            }
        }

        .search-form {
            width: 670px;
        }
    }
}
