/* Search.
--------------------------------------------- */
.search {
	.status-publish {
		margin-bottom: 30px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		width: 48.7013%;

		.article-content {
			padding: 15px;
		}

		&:nth-child( 2n ) {
			float: left;
			clear: both;
		}

		&:nth-child( 2n+1 ) {
			float: right;
		}

		&:first-child {
			float: none;
			width: 100%;
		}
	}
}
