/* Search.
--------------------------------------------- */
.search {
	.status-publish {
		margin-bottom: 30px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		width: 48.7013%;

		.article-content {
			padding: 15px;
		}

		&:nth-child( 2n ) {
			float: left;
			clear: both;
		}

		&:nth-child( 2n+1 ) {
			float: right;
		}

		&:first-child {
			float: none;
			width: 100%;
		}
	}

	.archive-layout-two.status-publish {
		width: 100%;

		img {
			float: left;
			margin-bottom: 0;
			margin-right: 20px;
		}
	}
}

#content .post.archive-layout-two img {
	float: left;
	margin-bottom: 0;
	margin-right: 20px;
}

.archive #content,
.blog #content,
.search {

	.archive-layout-full-width.post,
	.archive-layout-two.post {

		&:nth-child( 2n ),
		&:nth-child( 2n+1 ) {
			clear: both;
			float: none;
			width: 100%;
		}
	}
}

.archive,
.blog,
.search {
	#content {
		.archive-layout-grid.post {

			&:first-child {
				width: 48.7013%;
			}

			&:nth-child( odd ) {
				float: left;
				clear: both;
			}

			&:nth-child( 2n ) {
				float: right;
				clear: none;
			}
		}

		.archive-layout-full-width,
		.archive-layout-grid {
			&.post:first-child .article-content .entry-title {
				font-size: 22px;
			}
		}

		/* 3 columns grid */
		.archive-layout-grid-col-3.post {
			width: 31.33%;
			float: left;

			&:nth-child(3n+2) {
				margin-left: 3%;
				clear: none;
			}

			&:nth-child(3n+3) {
				margin-left: 3%;
				clear: none;
			}

			&:nth-child(3n+1) {
				clear: both;
			}
		}

		.archive-layout-grid-col-3 {
			&.post:first-child .article-content .entry-title {
				font-size: 22px;
			}
		}

		/* 4 columns layout */
		.archive-layout-grid-col-4.post {
			width: 23.5%;
			float: left;

			&:nth-child(4n+1) {
				clear: both;
			}

			&:nth-child(4n+2) {
				margin-left: 2%;
				clear: none;
			}

			&:nth-child(4n+3) {
				margin-left: 2%;
			}

			&:nth-child(4n+4) {
				margin-left: 2%;
				clear: none;
			}
		}

		.archive-layout-full-width,
		.archive-layout-grid-col-4 {
			&.post:first-child .article-content .entry-title {
				font-size: 22px;
			}
		}
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	.archive,
	.blog,
	.search {
		#content {
			.post {
				&.archive-layout-grid-col-3 {
					width: 48.7013%;

					&:nth-child( odd ) {
						float: left;
						clear: both;
						margin-left: 0;
					}

					&:nth-child( even ) {
						float: right;
						clear: none;
						margin-left: 0;
					}
				}

				&.archive-layout-grid-col-4 {
					width: 48.7013%;

					&:nth-child( odd ) {
						float: left;
						clear: both;
						margin-left: 0;
					}

					&:nth-child( even ) {
						float: right;
						clear: none;
						margin-left: 0;
					}
				}
			}
		}
	}
}
