/* Navigation.
--------------------------------------------- */
.default-wp-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	margin-top: length( 'l-15' );

	.previous,
	.next {
		flex: 1;
	}

	.next {
		text-align: right;
	}
}

.wp-block-query-pagination-numbers {
	display: flex;
	align-content: space-between;
	gap: 6px;
	text-align: center;

	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 14px;
		height: 14px;
		border-radius: 4px;
		border: 1px solid $color__gray-100;
		background-color: $color__white;
		color: $color__gray-700;
		font-size: 14px;
		padding: 8px;
		font-weight: 400;

		&.current {
			background-color: $color__primary;
			color: $color__white;
		}
	}
}

.previous,
.next {

	a {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		color: $color__gray-700;
		cursor: pointer;
		@include font-size('font-size-sm');
		font-weight: 600;

		&:hover {
			color: $color__primary;
			text-decoration: underline;
		}
	}

	svg {
		fill: $color__gray-800;
	}
}

.nav-previous,
.nav-next {
	margin-bottom: 15px;

	a {
		color: $color__primary;
		cursor: pointer;
		font-size: 16px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-previous {

	a {
		float: left;
	}
}

.nav-next  {

	a {
		float: right;
	}
}

.link-pagination {
	display: flex;
	align-content: space-between;
	gap: 6px;
	text-align: center;
	margin: length( 'l-8' ) 0;

	.post-page-numbers  {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 14px;
		height: 14px;
		padding: length( 'l-4' );
		background-color: $color__white;
		color: $color__gray-700;
		@include font-size("font-size-xs");
		font-weight: 400;
		border-radius: 4px;
		border: 1px solid $color__gray-100;

		&.current {
			background-color: $color__primary;
			color: $color__white;
		}
	}
}

/* Slider widget NEXT PREVIOUS buttons.
--------------------------------------------- */
.slide-prev,
.slide-next {
	filter: alpha(opacity=70);
	background-color: $color__primary;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	border-radius: 2px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

	.cm-icon {
		fill: $color__white;
	}
}

.slide-prev {
	margin-left: 20px;
}

.slide-next {
	right: 0;
	margin-right: 20px;
}

.slide-prev:hover,
.cm-category-slide-prev:hover,
.slide-next:hover,
.cm-category-slide-next:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.tg-numbered-pagination {
	margin-top: length( 'l-16' );
}

@media screen and (max-width: 767px) {

	.thumbnail-pagination {

		li {
			width: 100%;
			display: block;
			min-height: 70px;

			&.previous {
				margin-bottom: 20px;
			}
		}

		a {
			font-size: 15px;
		}
	}
}

@include breakpoint("mdm") {

	.default-wp-page {
		flex-direction: row;
	}
}
