/* Header Layout: Clean.
--------------------------------------------- */
.colormag-header-clean {
	#cm-primary-nav {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
		position: relative;
		background-color: transparent;
		border-top: 0 solid transparent;
		z-index: 999;

		.cm-row {
			background-color: $color__background-news;
			border-top: 4px solid #289dcc;
		}

		.fa.search-top {
			position: relative;
			right: 0;
		}

		.cm-random-post {
			position: relative;
		}

		.search-form-top {
			top: 100%;
		}

		.menu {
			flex-grow: 2;
			order: 2;
		}
	}

	.cm-primary-nav {
		ul {
			li {
				ul {
					top: 100%;

					li {
						a {
							width: auto;
							padding: 10px 15px;
						}

						ul {
							top: 0;
						}
					}
				}
			}
		}
	}

	.menu-logo {
		a {
			padding: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.colormag-header-clean {
		.cm-header-col-1,
		#cm-site-branding {
			margin-bottom: 0;

		}

		.cm-mobile-nav {
			.menu-logo {
				a {
					padding: 0;
				}
			}

			.cm-menu-toggle {
				background-color: $color__primary;
			}
		}
	}
}
