/* Header Layout: Classic Top.
--------------------------------------------- */
.colormag-header-classic--top {
	#site-navigation {
		margin-top: 15px;

		&.headroom--pinned {
			margin-top: 0;
		}
	}

	.is-sticky {
		#site-navigation {
			margin-top: 0;
		}
	}

	#header-text-nav-wrap {
		padding: 15px 0 30px;
	}
}
