/* Load image elements smoothly
 * on page load and scroll.
--------------------------------------------- */
.tg-image-to-reveal-fade-in-up {
	opacity: 0;
	transform: translateY(5px);
	transition: all .8s ease-out;
}

.tg-image-to-reveal-fade-in-down {
	opacity: 0;
	transform: translateY(-5px);
	transition: all .8s ease-out;
}

.tg-image-to-reveal-fade-in {
	opacity: 0;
	transition: all .8s ease-out;
}

.tg-image-to-reveal-fade-in-up--is-revealed,
.tg-image-to-reveal-fade-in-down--is-revealed,
.tg-image-to-reveal-fade-in--is-revealed {
	opacity: 1;
	transform: translateY(0);
}
