/* Search.
--------------------------------------------- */
.cm-header-actions {
	display: flex;
	align-items: center;
	order: 3;
	flex-basis: 100%;
	justify-content: flex-end;
	margin-left: auto;
}

.cm-top-search {
	position: initial;

	&:has(.show) {

		.fa.search-top {

			&::before {
				content: '✖';
			}
		}
		
	}
}

.cm-content {
	&.backdrop  {
		background-color: rgba(0, 0, 0, 0.3);;
	}
}

.fa.search-top {
	padding: length( 'l-6' );
	width: 48px;
	color: $color__white;
	@include font-size("font-size-xl");
	cursor: pointer;

	&:hover {
		background-color: $color__primary;
	}

}

.search-wrap {
	position: relative;
	display: flex;
	overflow: hidden;
	border-radius: 4px;

	button {
		padding: 0 15px;
		margin-bottom: 0;
		margin-left: -4px;
		border-radius: 0 4px 4px 0;
		color: $color__white;
		background-color: $color__primary;
	}
}

.search-icon::before {
	content: "\f002";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: $color__white;
	@include font-size("font-size-md");
}

.search-form-top {
	position: absolute;
	right: 0;
	z-index: 9999;
	border: 1px solid $color__gray-100;
	display: none;
	padding: length( 'l-12' );
	border-radius: 0 0 4px 4px;
	background-color: $color__white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

	&.show {
		display: block;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-bottom: 12px solid $color__white;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			top: -10px;
			right: 54px;
		}
	}

	:focus-visible {
		outline: none;
	}

	input.s {
		width: 100%;
		font-size: 14px;
		padding: 12px;
		border: 1px solid $color__gray-200;
		border-radius: 4px 0 0 4px;
	}

	.search-wrap {
		display: flex;
	}
}

.cm-not-found .search-wrap button {
	right: 175px;
}

.cm-secondary .search-wrap button {
	right: 26px;
}

/* Random Posts Icon.
--------------------------------------------- */
.cm-random-post {
	order :1;

	.fa-random {
		color: $color__white;
		font-size: 20px;
		vertical-align: middle;
	}
}

.cm-primary-nav {

	.cm-random-post a {
		display: flex;
		align-items: center;
		height: 48px;
		padding: 10px 12px;
		border-bottom: medium none;
	}
}

@include breakpoint("mdm") {

	.cm-header-actions {
		flex-basis: unset;
	}

	.search-form-top{

		&.show {
			width: 570px;

			&::before {
				right: 10px;
			}
		}
	}

	.cm-top-search {
		position: relative;
	}
}
