/**
 * Group control CSS.
 */
.customize-control-colormag-group {

	.colormag-group-toggle-icon {
		position: absolute;
		top: -2px;
		right: 0;
		width: 15px;
		height: 15px;
		font-size: 16px;
		border: 1px solid #dddddd;
		border-radius: 2px;
		padding: 4px;
		color: #289dcc;
		background: #ffffff;
		cursor: pointer;

		&:before {
			content: "\f464";
		}

		&.open:before {
			content: "\f158";
		}

		&.toggle-description {
			right: 25px;
		}
	}
}
