/**
 * Radio buttonset control CSS.
 */

.customize-control-colormag-buttonset .buttonset {
  display: inline-block;
  border: 1px solid #555d66;
}

.customize-control-colormag-buttonset .buttonset .colormag-buttonset {
  float: left;
  background: #f1f1f1;
  padding: 5px 12px;
  border-right: 1px solid #555d66;
}

.customize-control-colormag-buttonset .buttonset .colormag-buttonset:last-child {
  border-right: 0;
}

.customize-control-colormag-buttonset .buttonset input {
  display: none;
}

.customize-control-colormag-buttonset .buttonset input:checked + label {
  background: #289dcc;
  color: #ffffff;
}
/**
 * Alpha color control CSS.
 */

.customize-control-colormag-color .wp-picker-container .wp-color-result .color-alpha {
  height: 28px !important;
}

.customize-control-colormag-color .wp-picker-container .wp-picker-clear {
  margin-left: 6px;
  min-height: 30px;
  line-height: 2.54545455;
}
/**
 * Editor control CSS.
 */

.customize-control-colormag-editor .wp-editor-tools .wp-editor-container textarea {
  width: 100%;
}
/**
 * Heading control CSS.
 */

.customize-control-colormag-heading {
  margin-top: 15px;
  margin-bottom: 10px;
}

.customize-control-colormag-heading .colormag-heading-wrapper {
  margin: 0 -12px;
}

.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-title {
  display: block;
  padding: 16px 12px;
  margin: 0;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eaeaea;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-description {
  margin-top: 10px;
  padding: 0 12px;
}
/**
 * Radio image control CSS.
 */

.customize-control-colormag-radio-image input {
  display: none;
}

.customize-control-colormag-radio-image input:checked + label img {
  -webkit-box-shadow: 0 0 3px 0 #289dcc;
  box-shadow: 0 0 3px 0 #289dcc;
}

.customize-control-colormag-radio-image label {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.customize-control-colormag-radio-image label > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.customize-control-colormag-radio-image .image-col-2 label {
  width: 49%;
  margin-right: 1%;
}

.customize-control-colormag-radio-image .image-col-2 label:nth-of-type(2n) {
  margin-right: 0;
}

.customize-control-colormag-radio-image .image-col-3 label {
  width: 33%;
  margin-right: 1%;
}

.customize-control-colormag-radio-image .image-col-3 label:nth-of-type(3n) {
  margin-right: 0;
}
/**
 * Switch toggle control CSS.
 */