/**
 * Radio buttonset control CSS.
 */

.customize-control-colormag-buttonset .buttonset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #555d66;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner + .buttonset-inner {
  border-right: 0;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner .colormag-buttonset {
  background: #f1f1f1;
  padding: 5px 12px;
  display: block;
  text-align: center;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner input {
  display: none;
}

.customize-control-colormag-buttonset .buttonset .buttonset-inner input:checked + label {
  background: #289dcc;
  color: #ffffff;
}
/**
 * Background control CSS.
 */

.customize-control-colormag-background .customize-control-content > div {
  margin-bottom: 15px;
}

.customize-control-colormag-background .customize-control-content .wp-picker-container .wp-color-result .color-alpha {
  height: 28px !important;
}

.customize-control-colormag-background .customize-control-content .wp-picker-container .wp-picker-clear {
  margin-right: 6px;
  min-height: 30px;
  line-height: 2.54545455;
}
/**
 * Divider control CSS.
 */

.customize-control-colormag-divider hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.customize-control-colormag-divider .divider-placement-above + .colormag-control-tooltip {
  top: 30px;
}
/**
 * Alpha color control CSS.
 */

.customize-control-colormag-color .wp-picker-container .wp-color-result .color-alpha {
  height: 28px !important;
}

.customize-control-colormag-color .wp-picker-container .wp-picker-clear {
  margin-right: 6px;
  min-height: 30px;
  line-height: 2.54545455;
}
/**
 * Custom control CSS.
 */

.customize-control-colormag-custom .colormag-custom-info {
  margin-bottom: 15px;
}

.customize-control-colormag-custom .colormag-custom-links li a {
  background: #289dcc;
  display: block;
  text-align: center;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}
/**
 * Editor control CSS.
 */

.customize-control-colormag-editor .wp-editor-tools .wp-editor-container textarea {
  width: 100%;
}
/**
 * Group control CSS.
 */

.customize-control-colormag-group .colormag-group-toggle-icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 15px;
  height: 15px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 4px;
  color: #289dcc;
  background: #ffffff;
  cursor: pointer;
}

.customize-control-colormag-group .colormag-group-toggle-icon:before {
  content: "\f464";
}

.customize-control-colormag-group .colormag-group-toggle-icon.open:before {
  content: "\f158";
}

.customize-control-colormag-group .colormag-group-toggle-icon.toggle-description {
  left: 25px;
}

.customize-control-colormag-group .colormag-field-settings-modal {
  position: absolute;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #ffffff;
}

.customize-control-colormag-group .colormag-field-settings-modal:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 5px;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
  pointer-events: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-field-settings-wrap {
  width: 100%;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-tabs,
.customize-control-colormag-group .colormag-field-settings-modal .colormag-tab-content {
  position: relative;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 15px 0 15px;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list:before,
.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li:not(:first-child) {
  border-right-width: 0;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li:focus {
  outline-style: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li.ui-state-active {
  background-color: #289dcc;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li.ui-state-active a {
  color: #ffffff;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li a {
  color: #555d66;
  text-decoration: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .colormag-group-list li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.customize-control-colormag-group .colormag-field-settings-modal .customize-control {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.customize-control-colormag-group .colormag-field-settings-modal .customize-control:last-child {
  margin-bottom: 15px;
}
/**
 * Group control CSS.
 */

.customize-control-colormag-hidden.customize-control {
  margin-top: 0;
}
/**
 * Heading control CSS.
 */

.customize-control-colormag-heading {
  margin-top: 15px;
  margin-bottom: 10px;
}

.customize-control-colormag-heading .colormag-heading-wrapper {
  margin: 0 -12px;
}

.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-title {
  display: block;
  padding: 16px 12px;
  margin: 0;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eaeaea;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.customize-control-colormag-heading .colormag-heading-wrapper .customize-control-description {
  margin-top: 10px;
  padding: 0 12px;
}
/**
 * Radio image control CSS.
 */

.customize-control-colormag-radio-image input {
  display: none;
}

.customize-control-colormag-radio-image input:checked + label img {
  -webkit-box-shadow: 0 0 3px 0 #289dcc;
  box-shadow: 0 0 3px 0 #289dcc;
}

.customize-control-colormag-radio-image label {
  margin-bottom: 15px;
  position: relative;
  display: block;
  float: right;
}

.customize-control-colormag-radio-image label > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.customize-control-colormag-radio-image .image-col-1:after,
.customize-control-colormag-radio-image .image-col-2:after,
.customize-control-colormag-radio-image .image-col-3:after,
.customize-control-colormag-radio-image .image-col-4:after {
  content: '';
  clear: both;
  display: block;
}

.customize-control-colormag-radio-image .image-col-1 label {
  width: 100%;
}

.customize-control-colormag-radio-image .image-col-2 label {
  width: 49%;
  margin-left: 1%;
}

.customize-control-colormag-radio-image .image-col-2 label:nth-of-type(2n) {
  margin-left: 0;
}

.customize-control-colormag-radio-image .image-col-3 label {
  width: 32%;
  margin-left: 1%;
}

.customize-control-colormag-radio-image .image-col-3 label:nth-of-type(3n) {
  margin-left: 0;
}

.customize-control-colormag-radio-image .image-col-4 label {
  width: 24%;
  margin-left: 1%;
}

.customize-control-colormag-radio-image .image-col-4 label:nth-of-type(4n) {
  margin-left: 0;
}
/**
 * Slider control CSS.
 */

.customize-control-colormag-slider .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customize-control-colormag-slider .slider-wrapper input[type=range] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #289dcc;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #289dcc;
}

.customize-control-colormag-slider .slider-wrapper input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #289dcc;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value {
  padding: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value input[type=number] {
  width: 60px;
  padding: 3px;
  font-size: 12px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-range-value .colormag-range-unit {
  padding: 0 5px 0 0;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset span {
  font-size: 14px;
}

.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset:hover,
.customize-control-colormag-slider .slider-wrapper .colormag-slider-reset:focus {
  color: #289dcc;
}

.customize-control-colormag-slider .slider-wrapper.slider-description .colormag-slider-reset span {
  left: 20px;
}
/**
 * Sortable control CSS.
 */

.customize-control-colormag-sortable ul.ui-sortable {
  cursor: default;
}

.customize-control-colormag-sortable ul.ui-sortable .dashicons-visibility {
  cursor: pointer;
}

.customize-control-colormag-sortable ul.ui-sortable li {
  padding: 5px 10px;
  border: 1px solid #555555;
  background: #ffffff;
  cursor: move;
}

.customize-control-colormag-sortable ul.ui-sortable li .dashicons.dashicons-menu {
  float: left;
}

.customize-control-colormag-sortable ul.ui-sortable li .dashicons.visibility {
  margin-left: 10px;
}

.customize-control-colormag-sortable ul.ui-sortable li.invisible {
  color: #aaaaaa;
  border: 1px dashed #aaaaaa;
}

.customize-control-colormag-sortable ul.ui-sortable li.invisible .dashicons.visibility {
  color: #aaaaaa;
}
/**
 * Switch toggle control CSS.
 */

.customize-control-colormag-toggle .customize-control-title {
  max-width: calc(100% - 50px);
}

.customize-control-colormag-toggle label {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 12px;
  left: 0;
  top: 6px;
}

.customize-control-colormag-toggle label.toggle-description {
  left: 20px;
}

.customize-control-colormag-toggle label input {
  display: none;
}

.customize-control-colormag-toggle label input:checked + .switch:before {
  background-color: #289dcc;
}

.customize-control-colormag-toggle label input:checked + .switch:before {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.customize-control-colormag-toggle label .switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #b4b9be;
  border-radius: 8px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.customize-control-colormag-toggle label .switch:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  right: 0;
  bottom: -4px;
  background-color: #cccccc;
  border-radius: 100%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/**
 * Typography control CSS.
 */

.customize-control-colormag-typography .customize-control-content > div {
  margin-bottom: 15px;
}

.customize-control-colormag-typography .customize-control-content .font-size,
.customize-control-colormag-typography .customize-control-content .line-height,
.customize-control-colormag-typography .customize-control-content .letter-spacing {
  position: relative;
}

.customize-control-colormag-typography .customize-control-content .control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customize-control-colormag-typography .customize-control-content .unit {
  margin-right: 6px;
  padding: 0 12px;
  background: #dddddd;
  border-radius: 2px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

span.select2-container.select2-container--default.select2-container--open {
  z-index: 999999;
}