/* Navigation.
--------------------------------------------- */
.default-wp-page {
	clear: both;
	margin-top: 30px;
}

.default-wp-page .previous {
	float: left;
	padding: 30px 0;
}

.default-wp-page .next {
	float: right;
	padding: 30px 0;
}

.default-wp-page .previous, .default-wp-page .next {
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.previous a,
.next a {
	padding: 5px 0;
	cursor: pointer;
	font-size: 18px;
	word-break: break-all;
}

.previous a:hover,
.next a:hover {
	text-decoration: underline;
}

.nav-previous, .nav-next {
	margin-bottom: 15px;
}

.nav-previous a,
.nav-next a {
	cursor: pointer;
	font-size: 16px;
}

.nav-previous a {
	float: left;
}

.nav-next a {
	float: right;
}

.nav-previous a:hover,
.nav-next a:hover {
	text-decoration: underline;
}
