@font-face {
  font-family: 'colormag-econs';
  src:  url('../fonts/colormag-econs.eot?qrxuz2');
  src:  url('../fonts/colormag-econs.eot?qrxuz2#iefix') format('embedded-opentype'),
    url('../fonts/colormag-econs.ttf?qrxuz2') format('truetype'),
    url('../fonts/colormag-econs.woff?qrxuz2') format('woff'),
    url('../fonts/colormag-econs.svg?qrxuz2#colormag-econs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="colormag-econs-"], [class*=" colormag-econs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'colormag-econs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colormag-econs-trending-news:before {
  content: "\e913";
}

.colormag-econs-grid-6:before {
  content: "\e900";
}
.colormag-econs-grid-8:before {
  content: "\e901";
}
.colormag-econs-grid-9:before {
  content: "\e902";
}
.colormag-econs-grid-2:before {
  content: "\e903";
}
.colormag-econs-grid-3:before {
  content: "\e904";
}
.colormag-econs-grid-4:before {
  content: "\e905";
}
.colormag-econs-block-10:before {
  content: "\e906";
}
.colormag-econs-block-1:before {
  content: "\e907";
}
.colormag-econs-block-2:before {
  content: "\e908";
}
.colormag-econs-block-3:before {
  content: "\e909";
}
.colormag-econs-block-4:before {
  content: "\e90a";
}
.colormag-econs-block-5:before {
  content: "\e90b";
}
.colormag-econs-grid-7:before {
  content: "\e90c";
}
.colormag-econs-grid-5:before {
  content: "\e90d";
}
.colormag-econs-block-9:before {
  content: "\e90e";
}
.colormag-econs-block-8:before {
  content: "\e90f";
}
.colormag-econs-block-7:before {
  content: "\e910";
}
.colormag-econs-block-6:before {
  content: "\e911";
}
.colormag-econs-grid-1:before {
  content: "\e912";
}
