* {
	box-sizing: border-box;
}

.elementor-column-gap-default .elementor-row {
	width: calc(100% + 20px);
	margin-right: -10px;
	margin-left: -10px;
}

.elementor-column-gap-narrow .elementor-row {
	width: calc(100% + 10px);
	margin-right: -5px;
	margin-left: -5px;
}

.elementor-column-gap-extended .elementor-row {
	width: calc(100% + 30px);
	margin-right: -15px;
	margin-left: -15px;
}

.elementor-column-gap-wide .elementor-row {
	width: calc(100% + 40px);
	margin-right: -20px;
	margin-left: -20px;
}

.elementor-column-gap-wider .elementor-row {
	width: calc(100% + 60px);
	margin-right: -30px;
	margin-left: -30px;
}

.elementor-page .entry-header {
	display: none;
}

.tg-container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.tg-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.tg-row .tg-col-control {
	padding-left: 15px;
	padding-right: 15px;
}

.tg-row.thinner {
	margin-right: -2px;
	margin-left: -2px;
}

.tg-row.thinner .tg-col-control {
	padding-left: 2px;
	padding-right: 2px;
}

.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after {
	display: table;
	content: "";
}

.clearfix::after, .container::after, .container-fluid::after {
	clear: both;
}

.elementor .elementor-image .wp-caption {
	border: 0;
}

.elementor .elementor-image .wp-caption img {
	margin: 0;
}

.elementor .tg-module-wrapper {
	color: #777;
	font-size: 14px;
	margin-bottom: 42px;
}

.elementor .tg-module-wrapper .module-title {
	border-bottom: 1px solid #289dcc;
	padding-bottom: 0;
	font-size: 14px;
	margin-bottom: 30px;
}

.elementor .tg-module-wrapper .module-title span {
	background-color: #289dcc;
	color: #fff;
	padding: 7px 12px;
	display: inline-block;
}

.elementor .tg-module-wrapper a {
	transition: .5s color ease-in-out;
}

.elementor .tg-module-wrapper .tg-post-category {
	background-color: #289dcc;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
}

.elementor .tg-module-wrapper .tg-module-thumb {
	text-align: right;
}

.elementor .tg-module-wrapper .tg-module-thumb img {
	display: block;
	margin-bottom: 0;
	width: 100%;
}

.elementor .tg-module-wrapper .tg-module-title {
	font-size: 21px;
	padding-bottom: 0;
	margin-bottom: 5px;
	font-weight: 600;
	color: #232323;
}

.elementor .tg-module-wrapper .tg-module-title a {
	color: inherit;
}

.elementor .tg-module-wrapper .tg-module-title:hover a {
	color: #289dcc;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-date .updated:not(.published) {
	display: none;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name, .elementor .tg-module-wrapper .tg-module-meta .tg-post-date, .elementor .tg-module-wrapper .tg-module-meta .tg-module-comments {
	font-size: 12px;
	margin-left: 10px;
	display: inline-block;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name a, .elementor .tg-module-wrapper .tg-module-meta .tg-post-date a, .elementor .tg-module-wrapper .tg-module-meta .tg-module-comments a {
	color: #969696;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name a:hover, .elementor .tg-module-wrapper .tg-module-meta .tg-post-date a:hover, .elementor .tg-module-wrapper .tg-module-meta .tg-module-comments a:hover {
	color: #289dcc;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-post-auther-name a {
	color: #333;
}

.elementor .tg-module-wrapper .tg-module-meta .tg-module-comments {
	margin-left: 0;
}

.elementor .tg-module-wrapper .tg_module_block .tg-module-thumb {
	position: relative;
	margin-bottom: 13px;
}

.elementor .tg-module-wrapper .tg_module_block .tg-module-thumb .tg-post-categories {
	position: absolute;
	bottom: 0;
	right: 0;
}

.elementor .tg-module-wrapper .tg_module_block .tg-post-category {
	display: inline-block;
	background-color: #ffe066;
}

.elementor .tg-module-wrapper .tg_module_block .tg-module-meta {
	margin-bottom: 10px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--small .tg-module-title {
	font-size: 16px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small {
	position: relative;
	margin-bottom: 15px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small .tg-module-thumb {
	width: 100px;
	float: right;
	margin-left: 10px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small .tg-module-info {
	min-height: 73px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small .tg-module-info .entry-title {
	font-size: 14px;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small .tg-module-info .entry-content p {
	margin-bottom: 0;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small .tg-module-info .tg-module-meta {
	margin-bottom: 0;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small.no-thumbnail .tg-module-info {
	margin-right: 0;
	min-height: 0;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--list-small.tg-col-control .tg-module-thumb {
	margin-bottom: 0;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--inner-shadow {
	position: relative;
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--inner-shadow .tg-module-thumb::before, .elementor .tg-module-wrapper .tg_module_block.tg_module_block--inner-shadow .tg-module-thumb::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.1) 100%);
}

.elementor .tg-module-wrapper .tg_module_block.tg_module_block--inner-shadow .tg-module-thumb::after {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);
	bottom: 0;
	top: auto;
}

.elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-1 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control {
	flex-basis: 50%;
}

.elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-4 .tg-col-control {
	margin-bottom: 30px;
}

.elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-4 .tg-module-thumb {
	flex-basis: 33.33333%;
}

.elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-4 .tg-module-info {
	flex-basis: 66.66667%;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid {
	position: relative;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-thumb-link {
	display: block;
	position: relative;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-thumb-link::before, .elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-thumb-link::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.1) 100%);
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-thumb-link::after {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.4) 100%);
	bottom: 0;
	top: auto;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-module-info {
	position: absolute;
	bottom: 15px;
	right: 15px;
	left: 15px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-module-info .tg-post-categories {
	margin-bottom: 7px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-module-info .tg-module-title {
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-module-info .tg-module-meta span, .elementor .tg-module-wrapper.tg-module-grid .tg_module_grid .tg-module-info .tg-module-meta a {
	color: #fff;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--small .tg-module-info {
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--small .tg-module-info .tg-module-title {
	font-size: 16px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--small-medium .tg-module-info .tg-module-title {
	font-size: 18px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--medium .tg-module-info .tg-module-title {
	font-size: 21px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--half {
	flex-basis: 50%;
	margin-bottom: 3px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--one-fourth {
	flex-basis: 25%;
	margin-bottom: 3px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--one-third {
	flex-basis: 33.33333%;
	margin-bottom: 3px;
}

.elementor .tg-module-wrapper.tg-module-grid .tg_module_grid.tg_module_grid--full {
	flex-basis: 100%;
	margin-bottom: 3px;
}

.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-3 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-6 .tg-col-control {
	flex-basis: 50%;
}

.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg_module_grid--full {
	flex-basis: 100%;
}

.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-3 .tg-col-control {
	margin-bottom: 4px;
}

.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-4 .tg-col-control {
	flex-basis: 33.33333%;
}

.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-5 .tg-col-control {
	flex-basis: 25%;
}

@media only screen and (max-width: 768px) {
	.elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-1 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control {
		flex-basis: 100%;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-1 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-3 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-4 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-5 .tg-col-control {
		flex-basis: 100%;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-1 .tg_module_grid--small, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg_module_grid--small {
		flex-basis: 50%;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg_module_grid--full {
		flex-basis: 100%;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-5 .tg-col-control {
		flex-basis: 50%;
		margin-bottom: 4px;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-3 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-4 .tg-col-control, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-5 .tg-col-control {
		margin-bottom: 4px;
	}
}

@media only screen and (max-width: 480px) {
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-1 .tg_module_grid--half, .elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-2 .tg_module_grid--half {
		flex-basis: 100%;
	}
	.elementor .tg-module-wrapper.tg-module-grid.tg-module-grid--style-5 .tg-col-control {
		flex-basis: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.elementor .elementor-col-100 .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-col-100 .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-col-100 .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-col-100 .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-col-100 .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control, .elementor .elementor-column[data-col="100"] .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-column[data-col="100"] .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-column[data-col="100"] .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-column[data-col="100"] .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-column[data-col="100"] .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control {
		flex-basis: 33.33333%;
	}
	.elementor .elementor-col-25 .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-col-25 .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-col-25 .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-col-25 .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-col-25 .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control, .elementor .elementor-column[data-col="25"] .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-column[data-col="25"] .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-column[data-col="25"] .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-column[data-col="25"] .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-column[data-col="25"] .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control, .elementor .elementor-col-33 .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-col-33 .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-col-33 .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-col-33 .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-col-33 .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control, .elementor .elementor-column[data-col="33"] .tg-module-wrapper.tg-module-block.tg-module-block--style-2 .tg-col-control, .elementor .elementor-column[data-col="33"] .tg-module-wrapper.tg-module-block.tg-module-block--style-3 .tg-col-control, .elementor .elementor-column[data-col="33"] .tg-module-wrapper.tg-module-block.tg-module-block--style-6 .tg-col-control, .elementor .elementor-column[data-col="33"] .tg-module-wrapper.tg-module-block.tg-module-block--style-8 .tg-col-control, .elementor .elementor-column[data-col="33"] .tg-module-wrapper.tg-module-block.tg-module-block--style-9 .tg-col-control {
		flex-basis: 100%;
	}
}
