/* Top Bar.
--------------------------------------------- */
#header-meta {
	background-color: $color__white;
}

.cm-header-bar {
	background-color: $color__gray-ten;
	padding: 10px 0;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	font-size: 14px;
	border-bottom-style: solid;

	.cm-row {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 15px;
	}
}

.cm-header-bar__two {
	display: flex;
	flex: 1;
	gap: 15px;
	align-items: center;
}

@include breakpoint("mdm") {

	.cm-header-bar__one {
		display: flex;
		gap: 15px;
		align-items: center;
	}
}

@include breakpoint("lrg") {

	.cm-header-bar__two {
		justify-content: flex-end;
	}

	.cm-header-bar {
		padding: 8px;

		.cm-row {
			flex-direction: row;
			gap: 15px;
		}
	}
}


