@include breakpoint("mdm") {

	.left-sidebar {

		.cm-content {
	
			.cm-row {
				flex-direction: row-reverse;
			}
		
			.cm-primary {
				padding-right: 0;
				padding-left: length( 'l-15' );
			}
		}
	}
}
