.no-sidebar {

	.cm-primary {
		margin: 0 auto;
	}
}

.no-sidebar-full-width .cm-primary {
	width: 100%;
	padding: 0;
}

.no-sidebar .cm-secondary,
.no-sidebar-full-width .cm-secondary {
	display: none;
}

.no-sidebar-full-width,
.no-sidebar {
	overflow: hidden;

	.cm-primary {

		.cm-entry-summary {

			> .alignfull {
				margin-left: calc(50% - 50vw);
				margin-right: calc(50% - 50vw);
				max-width: unset;

				&.wp-block-cover,
				&.wp-block-cover-image {
					width: unset;
				}
			}

			> .alignwide {
				margin-left: -100px;
				margin-right: -100px;
				max-width: unset;
			}
		}
	}

	&.box-layout {

		.cm-content {
			overflow: hidden;
		}

		.cm-primary {

			.cm-entry-summary {

				> .alignfull {
					margin-left: -30px;
					margin-right: -30px;

					&.wp-block-cover,
					&.wp-block-cover-image {
						width: unset;
					}
				}

				> .alignwide {
					margin-left: -30px;
					margin-right: -30px;
					max-width: unset;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {

	.no-sidebar-full-width {

		.cm-primary {

			.cm-entry-summary {

				> .alignwide {
					margin-left: -20px;
					margin-right: -20px;
				}
			}
		}
	}

	.no-sidebar {

		.cm-primary {

			.cm-entry-summary {

				> .alignwide {
					margin-left: -50px;
					margin-right: -50px;
				}

				> .alignfull {
					margin-left: -100px;
					margin-right: -100px;
				}
			}
		}
	}
}
