.tg-site-layout--2-sidebars {
	#primary {
		width: 45.6140352%;
	}

	#tertiary {
		float: left;
		width: 27.19298245%;
		padding-right: 20px;
	}

	#secondary {
		width: 27.19298245%;
		padding-left: 20px;
	}
}
