.tg-site-layout--2-sidebars {

	.cm-primary {
		width: 45.6140352%;
	}

	#tertiary {
		float: left;
		width: 27.19298245%;
		padding-right: length( 'l-15', px );
	}

	.cm-secondary {
		width: 27.19298245%;
	}
}
