.customize-section-description {

	.colormag-section-description {

		ul {
			margin: 0;

			> li {
				list-style: none;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		a {
			font-style: italic;
		}
	}
}

.customize-control {
	position: relative;
	margin-bottom: 0;
	margin-top: 12px;

	.customize-control-title {
		max-width: calc(100% - 20px);
	}

	.colormag-control-tooltip {
		position: absolute;
		top: 0;
		right: 0;
	}

	.customize-inside-control-row {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.customize-control-radio,
	&.customize-control-checkbox {

		.customize-inside-control-row {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}

	&.has-responsive-switchers {

		.responsive-switchers {
			position: absolute;
			right: 0;
			top: 0;

			li {
				float: left;
				margin: 0;
				border: 2px solid transparent;

				button {
					outline: none;
					border: none;
					cursor: pointer;
					padding: 0;
					background: transparent;

					i {
						font-size: 14px;
						line-height: 20px;
					}

					&.active {
						border-bottom: 2px solid #555d66;
					}
				}
			}
		}

		.control-wrap {

			&:not(.active) {
				display: none;
				width: 100%;
			}
		}
	}
}

#customize-theme-controls {

	.in-sub-panel & {

		.customize-pane-child.current-panel-parent {
			transform: translateX(-100%);
		}
	}

	.customize-pane-child.current-section-parent {
		transform: translateX(-100%);
	}

	.control-section {

		&.open {
			height: 100%;
		}

		&.control-section-colormag_section {

			.accordion-section {
				margin-left: -12px;
				margin-right: -12px;
			}

			.accordion-section-title {
				color: #555d66;
				background-color: #fff;
				border-bottom: 1px solid #ddd;
				border-left: 4px solid #fff;
				transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
			}

			.accordion-section-title:after {
				color: #a0a5aa;
			}

			.accordion-section-title:hover,
			.accordion-section-title:focus {
				color: #0073aa;
				background: #f3f3f5;
				border-left-color: #0073aa;
			}

			.accordion-section-title:hover:after {
				color: #0073aa;
			}
		}
	}
}

.colormag-hide {
	display: none !important;
}

#accordion-section-colormag_customize_upsell_section {

	h3 {

		&.accordion-section-title {
			background-color: #289DCC !important;
			border-left-color: #0073aa;
			color: #fff !important;
			padding: 0;

			a {
				color: #fff;
				display: block;
				padding: 12px 15px 15px;
				text-decoration: none;

				&:hover {
					background-color: #1f91bf !important;
				}
			}

			&:after {
				color: #fff !important;
			}
		}

		a {

			&::after {
				color: #fff;
			}
		}
	}
}
