/**
 * Divider control CSS.
 */
.customize-control-colormag-divider hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.customize-control-colormag-divider .divider-placement-above + .colormag-control-tooltip {
	top: 30px;
}
