.elementor {
	.tg-module-wrapper {
		
		// common
		.tg_module_block {
			.tg-module-thumb {
				position: relative;
				margin-bottom: 13px;
				
				.tg-post-categories {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			
			.tg-post-category {
				display: inline-block;
				background-color: #FFE066;
			}
			.tg-module-meta {
				margin-bottom: 10px;
			}

			&.tg_module_block--small {
				.tg-module-title {
					font-size: 16px;
				}
			}
			
			// Small list style
			&.tg_module_block--list-small {
				position: relative;
				margin-bottom: 15px;

				.tg-module-thumb {
					position: absolute;
					width: 100px;
				}
	
				.tg-module-info {
					margin-left: 110px;
					min-height: 73px;

					.entry-title {
						font-size: 14px;
					}
					.entry-content {
						p {
							margin-bottom: 0;
						}
					}
					
					.tg-module-meta {
						margin-bottom: 0;
					}
				}

				&.no-thumbnail {
					.tg-module-info {
						margin-left: 0;
						min-height: 0;
					}
				}
			}

			&.tg_module_block--inner-shadow {
				position: relative;

				.tg-module-thumb {
					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient( to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.1) 100%);
					}
					
					&::after {
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
						bottom: 0;
						top: auto;
					}
				}
			}
		}
		

		&.tg-module-block {
			&.tg-module-block--style-1,
			&.tg-module-block--style-2,
			&.tg-module-block--style-6,
			&.tg-module-block--style-9 {
				.tg-col-control {
					flex-basis: $column-6;
				}
			}
	
			&.tg-module-block--style-2,
			&.tg-module-block--style-4 {
				.tg-col-control {
					margin-bottom: 30px;
				}
			}
	
			&.tg-module-block--style-4 {
				.tg-module-thumb {
					flex-basis: $column-4;
				}
	
				.tg-module-info {
					flex-basis: $column-8;
				}
			}
		}
	}
}